# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

In [ ]:
# Healthcare Expenditure Drivers and Hospital Efficiency

## The WHO


## The WHAT


## The HOW

# 3. Homework - work with your own data

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [4]:
# Creating DF for Hospital Provider Cost Report 

df_provider = pd.read_csv('Hospital_Provider_Cost_Report_2022.csv')

In [ ]:
# Dataset Info

pd.set_option('display.max_columns', None) # Stop column list for being cut off
df_provider.info(verbose=True) # With verbose, it lists out the columns used in the dataset. Viewed as a scrollable list

<class 'pandas.DataFrame'>
RangeIndex: 6064 entries, 0 to 6063
Data columns (total 117 columns):
 #    Column                                                                   Dtype
---   ------                                                                   -----
 0    rpt_rec_num                                                              int64
 1    Provider CCN                                                             int64
 2    Hospital Name                                                            str
 3    Street Address                                                           str
 4    City                                                                     str
 5    State Code                                                               str
 6    Zip Code                                                                 str
 7    County                                                                   str
 8    Medicare CBSA Number                                                     float64
 9    Rural Versus Urban                                                       str
 10   CCN Facility Type                                                        str
 11   Provider Type                                                            int64
 12   Type of Control                                                          int64
 13   Fiscal Year Begin Date                                                   str
 14   Fiscal Year End Date                                                     str
 15   FTE - Employees on Payroll                                               str
 16   Number of Interns and Residents (FTE)                                    str
 17   Total Days Title V                                                       str
 18   Total Days Title XVIII                                                   str
 19   Total Days Title XIX                                                     str
 20   Total Days (V + XVIII + XIX + Unknown)                                   str
 21   Number of Beds                                                           str
 22   Total Bed Days Available                                                 str
 23   Total Discharges Title V                                                 str
 24   Total Discharges Title XVIII                                             str
 25   Total Discharges Title XIX                                               str
 26   Total Discharges (V + XVIII + XIX + Unknown)                             str
 27   Number of Beds + Total for all Subproviders                              str
 28   Hospital Total Days Title V For Adults & Peds                            str
 29   Hospital Total Days Title XVIII For Adults & Peds                        str
 30   Hospital Total Days Title XIX For Adults & Peds                          str
 31   Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds        str
 32   Hospital Number of Beds For Adults & Peds                                str
 33   Hospital Total Bed Days Available For Adults & Peds                      str
 34   Hospital Total Discharges Title V For Adults & Peds                      str
 35   Hospital Total Discharges Title XVIII For Adults & Peds                  str
 36   Hospital Total Discharges Title XIX For Adults & Peds                    str
 37   Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds  str
 38   Cost of Charity Care                                                     str
 39   Total Bad Debt Expense                                                   str
 40   Cost of Uncompensated Care                                               str
 41   Total Unreimbursed and Uncompensated Care                                str
 42   Total Salaries From Worksheet A                                          str
 43   Overhead Non-Salary Costs                                                str
 44   Depreciation Cost                                                        str
 45   Total Costs                                                              str
 46   Inpatient Total Charges                                                  str
 47   Outpatient Total Charges                                                 str
 48   Combined Outpatient + Inpatient Total Charges                            str
 49   Wage-Related Costs (Core)                                                str
 50   Wage-Related Costs (RHC/FQHC)                                            str
 51   Total Salaries (adjusted)                                                str
 52   Contract Labor: Direct Patient Care                                      str
 53   Wage Related Costs for Part - A Teaching Physicians                      str
 54   Wage Related Costs for Interns and Residents                             str
 55   Cash on Hand and in Banks                                                str
 56   Temporary Investments                                                    str
 57   Notes Receivable                                                         str
 58   Accounts Receivable                                                      str
 59   Less: Allowances for Uncollectible Notes and Accounts Receivable         str
 60   Inventory                                                                str
 61   Prepaid Expenses                                                         str
 62   Other Current Assets                                                     str
 63   Total Current Assets                                                     str
 64   Land                                                                     str
 65   Land Improvements                                                        str
 66   Buildings                                                                str
 67   Leasehold Improvements                                                   str
 68   Fixed Equipment                                                          str
 69   Major Movable Equipment                                                  str
 70   Minor Equipment Depreciable                                              str
 71   Health Information Technology Designated Assets                          str
 72   Total Fixed Assets                                                       str
 73   Investments                                                              str
 74   Other Assets                                                             str
 75   Total Other Assets                                                       str
 76   Total Assets                                                             str
 77   Accounts Payable                                                         str
 78   Salaries, Wages, and Fees Payable                                        str
 79   Payroll Taxes Payable                                                    str
 80   Notes and Loans Payable (Short Term)                                     str
 81   Deferred Income                                                          str
 82   Other Current Liabilities                                                str
 83   Total Current Liabilities                                                str
 84   Mortgage Payable                                                         str
 85   Notes Payable                                                            str
 86   Unsecured Loans                                                          str
 87   Other Long Term Liabilities                                              str
 88   Total Long Term Liabilities                                              str
 89   Total Liabilities                                                        str
 90   General Fund Balance                                                     str
 91   Total Fund Balances                                                      str
 92   Total Liabilities and Fund Balances                                      str
 93   DRG Amounts Other Than Outlier Payments                                  float64
 94   DRG Amounts Before October 1                                             str
 95   DRG Amounts After October 1                                              str
 96   Outlier Payments For Discharges                                          float64
 97   Disproportionate Share Adjustment                                        str
 98   Allowable DSH Percentage                                                 str
 99   Managed Care Simulated Payments                                          str
 100  Total IME Payment                                                        str
 101  Inpatient Revenue                                                        str
 102  Outpatient Revenue                                                       str
 103  Total Patient Revenue                                                    str
 104  Less Contractual Allowance and Discounts on Patients' Accounts           str
 105  Net Patient Revenue                                                      str
 106  Less Total Operating Expense                                             str
 107  Net Income from Service to Patients                                      str
 108  Total Other Income                                                       str
 109  Total Income                                                             str
 110  Total Other Expenses                                                     str
 111  Net Income                                                               str
 112  Cost To Charge Ratio                                                     float64
 113  Net Revenue from Medicaid                                                str
 114  Medicaid Charges                                                         str
 115  Net Revenue from Stand-Alone CHIP                                        str
 116  Stand-Alone CHIP Charges                                                 str
dtypes: float64(4), int64(4), str(109)
memory usage: 5.4 MB

In [ ]:
# Decribe Dataset

df_provider.describe(include='all') # To describe all the columns in dataset
# Describe does not work on str variables, need to do changes on the dataset to change non category columns to float or int datatypes

,rpt_rec_num,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,Provider Type,Type of Control,Fiscal Year Begin Date,Fiscal Year End Date,FTE - Employees on Payroll,Number of Interns and Residents (FTE),Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Other Than Outlier Payments,DRG Amounts Before October 1,DRG Amounts After October 1,Outlier Payments For Discharges,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
count,6064.000000,6064.000000,6064,6061,6064,6064,6064,5500,5981.000000,5981,6064,6064.000000,6064.000000,6064,6064,5946,1499,134,5913,5051,5963,5970,5970,126,5922,4981,5962,5975,124,5898,4988,5960,5966,5967,126,5922,4981,5962,4244,4456,4515,4536,5977,5981,5915,5981,5975,5449,5981,3600,383,3746,3188,406,813,5513,1039,243,5688,4101,5145,4931,2459,5744,4169,3793,5057,2880,3399,5199,979,450,5695,2291,4690,5093,5762,5660,5167,2190,2588,1093,5036,5730,746,2396,304,4057,5092,5732,5750,5752,5759,0.0,2596,3062,0.0,2729,2777,1987,1278,5818,5284,5821,5740,5823,5979,5979,5751,5973,1778,5974,4600.000000,4385,4373,986,1006
unique,NaN,NaN,5727,5912,3101,55,5307,1569,NaN,2,8,NaN,NaN,73,67,5654,1356,125,4496,2748,5467,663,1296,98,2466,1384,3860,718,107,4234,2457,5239,575,1191,98,2466,1384,3860,4241,4453,4513,4534,5974,5978,5904,5981,5972,5428,5981,3566,382,3746,3185,405,813,5354,1018,239,5651,4076,5104,4890,2421,5706,3994,3745,5013,2851,3369,5157,967,446,5654,2239,4630,5044,5721,5616,5131,2173,2549,1063,4996,5693,731,2379,300,4016,5052,5696,5709,5712,5719,NaN,2594,3062,NaN,2724,1608,1987,1277,5813,5269,5817,5728,5818,5975,5977,5734,5969,1586,5967,NaN,4379,4369,984,1005
top,NaN,NaN,ENCOMPASS HEALTH REHABILITATION HOSP,444 LAFAYETTE ROAD,HOUSTON,TX,55164-0979,LOS ANGELES,NaN,U,STH,NaN,NaN,2022-01-01,2022-12-31,68.00,0.99,7,538,1,475,25,"9,125",1,1,1,1,25,2,199,1,1,25,"9,125",1,1,1,1,"$1,986,901",$1,"$427,453","$427,453","$105,759,005","$86,814,097",$1,"$5,049,463","$2,365,893",$255,"$67,671,556",$1,"$44,617","$2,268,571","$12,000","$9,899","$260,030",$200,"$153,557,000","$10,278,966","$1,819,899,000","$-670,984,347","$45,500,597","$1,851,241","$952,006,000","$3,298,360,000","$479,733,000","$11,875,228","$8,569,498,000","$2,026,625","$6,717,049","$3,007,315,000","$266,264","$753,492","$5,971,542,000","$10,981,192,000","$1,627,176,000","$12,608,368,000","$21,878,270,000","$1,111,552,000","$1,165,861,000","$205,276","$73,026,000","$517,364","$18,671,084","$3,195,849,000","$3,255,423,000","$14,877,552",$1,"$1,979,451,000","$5,234,874,000","$8,430,723,000","$13,447,547,000","$13,447,547,000","$21,878,270,000",NaN,$1,"$1,556,697",NaN,"$1,709",12.00%,"$1,509,884","$463,779","$374,566,904",$255,"$416,933,455",$1,"$177,146,512","$192,801,555","$-15,655,043",$1,$1,$1,$1,NaN,$1,"$4,649,134","$51,461","$17,881,363"
freq,NaN,NaN,116,8,36,577,8,93,NaN,3380,3240,NaN,NaN,2456,2442,5,6,3,6,48,4,811,784,12,25,215,13,655,4,8,56,5,650,625,12,25,215,13,2,2,2,2,3,3,4,1,2,7,1,26,2,1,2,2,1,13,7,3,8,6,6,6,8,7,8,6,8,6,6,8,6,2,8,8,8,8,7,8,8,3,8,6,6,8,8,3,3,8,8,8,8,7,7,NaN,3,1,NaN,2,461,1,2,3,7,3,7,3,3,3,4,3,45,3,NaN,3,2,2,2
mean,754291.104387,269404.638522,NaN,NaN,NaN,NaN,NaN,NaN,53018.188263,NaN,NaN,1.708773,4.178595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.349850,NaN,NaN,NaN,NaN
std,10770.303579,160322.536510,NaN,NaN,NaN,NaN,NaN,NaN,34012.617263,NaN,NaN,1.431237,3.200321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.870607,NaN,NaN,NaN,NaN
min,717629.000000,10001.000000,NaN,NaN,NaN,NaN,NaN,NaN,10180.000000,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040000,NaN,NaN,NaN,NaN
25%,745140.750000,140157.250000,NaN,NaN,NaN,NaN,NaN,NaN,26420.000000,NaN,NaN,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200000,NaN,NaN,NaN,NaN
50%,755650.500000,260021.000000,NaN,NaN,NaN,NaN,NaN,NaN,39300.000000,NaN,NaN,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.290000,NaN,NaN,NaN,NaN
75%,762052.750000,393035.250000,NaN,NaN,NaN,NaN,NaN,NaN,99916.000000,NaN,NaN,1.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.480000,NaN,NaN,NaN,NaN
max,776832.000000,713029.000000,NaN,NaN,NaN,NaN,NaN,NaN,99966.000000,NaN,NaN,10.000000,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3636.890000,NaN,NaN,NaN,NaN

In [ ]:
# Check for duplicate records

df_provider.duplicated().sum() # No duplicate rows returned from the Dataset

np.int64(0)

In [ ]:
# Check for duplicate records per column (when this would be inappropriate?)

for col in df_provider.columns:
    duplicate_column_count = df_provider.duplicated(subset=[col], keep=False).sum()
    print(f'Duplicate count in column "{col}": {duplicate_column_count}')

# All the column by itself expect rpt_rec_num contain duplicate values
# The column rpt_rec_num currently contains no duplicate values. This column is a unique (primary key)"system-generated 
# sequence number assigned by CMS". It would be inappropriate for this column to contain duplicates.

Duplicate count in column "rpt_rec_num"": 0
Duplicate count in column "Provider CCN"": 127
Duplicate count in column "Hospital Name"": 494
Duplicate count in column "Street Address"": 277
Duplicate count in column "City"": 3920
Duplicate count in column "State Code"": 6063
Duplicate count in column "Zip Code"": 1315
Duplicate count in column "County"": 5287
Duplicate count in column "Medicare CBSA Number"": 6022
Duplicate count in column "Rural Versus Urban"": 6064
Duplicate count in column "CCN Facility Type"": 6064
Duplicate count in column "Provider Type"": 6063
Duplicate count in column "Type of Control"": 6064
Duplicate count in column "Fiscal Year Begin Date"": 6007
Duplicate count in column "Fiscal Year End Date"": 6020
Duplicate count in column "FTE - Employees on Payroll"": 656
Duplicate count in column "Number of Interns and Residents (FTE)"": 4828
Duplicate count in column "Total Days Title V"": 5947
Duplicate count in column "Total Days Title XVIII"": 2573
Duplicate count in column "Total Days Title XIX"": 4072
Duplicate count in column "Total Days (V + XVIII + XIX + Unknown)"": 1044
Duplicate count in column "Number of Beds"": 5852
Duplicate count in column "Total Bed Days Available"": 5183
Duplicate count in column "Total Discharges Title V"": 5977
Duplicate count in column "Total Discharges Title XVIII"": 4509
Duplicate count in column "Total Discharges Title XIX"": 5300
Duplicate count in column "Total Discharges (V + XVIII + XIX + Unknown)"": 3230
Duplicate count in column "Number of Beds + Total for all Subproviders"": 5845
Duplicate count in column "Hospital Total Days Title V For Adults & Peds"": 5969
Duplicate count in column "Hospital Total Days Title XVIII For Adults & Peds"": 2827
Duplicate count in column "Hospital Total Days Title XIX For Adults & Peds"": 4360
Duplicate count in column "Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds"": 1398
Duplicate count in column "Hospital Number of Beds For Adults & Peds"": 5901
Duplicate count in column "Hospital Total Bed Days Available For Adults & Peds"": 5249
Duplicate count in column "Hospital Total Discharges Title V For Adults & Peds"": 5977
Duplicate count in column "Hospital Total Discharges Title XVIII For Adults & Peds"": 4509
Duplicate count in column "Hospital Total Discharges Title XIX For Adults & Peds"": 5300
Duplicate count in column "Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds"": 3230
Duplicate count in column "Cost of Charity Care"": 1826
Duplicate count in column "Total Bad Debt Expense"": 1614
Duplicate count in column "Cost of Uncompensated Care"": 1553
Duplicate count in column "Total Unreimbursed and Uncompensated Care"": 1532
Duplicate count in column "Total Salaries From Worksheet A"": 92
Duplicate count in column "Overhead Non-Salary Costs"": 88
Duplicate count in column "Depreciation Cost"": 168
Duplicate count in column "Total Costs"": 83
Duplicate count in column "Inpatient Total Charges"": 95
Duplicate count in column "Outpatient Total Charges"": 647
Duplicate count in column "Combined Outpatient + Inpatient Total Charges"": 83
Duplicate count in column "Wage-Related Costs (Core)"": 2502
Duplicate count in column "Wage-Related Costs (RHC/FQHC)"": 5683
Duplicate count in column "Total Salaries (adjusted)"": 2318
Duplicate count in column "Contract Labor: Direct Patient Care"": 2882
Duplicate count in column "Wage Related Costs for Part - A Teaching Physicians"": 5660
Duplicate count in column "Wage Related Costs for Interns and Residents"": 5251
Duplicate count in column "Cash on Hand and in Banks"": 783
Duplicate count in column "Temporary Investments"": 5061
Duplicate count in column "Notes Receivable"": 5828
Duplicate count in column "Accounts Receivable"": 436
Duplicate count in column "Less: Allowances for Uncollectible Notes and Accounts Receivable"": 2007
Duplicate count in column "Inventory"": 989
Duplicate count in column "Prepaid Expenses"": 1205
Duplicate count in column "Other Current Assets"": 3666
Duplicate count in column "Total Current Assets"": 382
Duplicate count in column "Land"": 2184
Duplicate count in column "Land Improvements"": 2354
Duplicate count in column "Buildings"": 1079
Duplicate count in column "Leasehold Improvements"": 3233
Duplicate count in column "Fixed Equipment"": 2715
Duplicate count in column "Major Movable Equipment"": 934
Duplicate count in column "Minor Equipment Depreciable"": 5104
Duplicate count in column "Health Information Technology Designated Assets"": 5622
Duplicate count in column "Total Fixed Assets"": 437
Duplicate count in column "Investments"": 3850
Duplicate count in column "Other Assets"": 1467
Duplicate count in column "Total Other Assets"": 1051
Duplicate count in column "Total Assets"": 366
Duplicate count in column "Accounts Payable"": 475
Duplicate count in column "Salaries, Wages, and Fees Payable"": 955
Duplicate count in column "Payroll Taxes Payable"": 3907
Duplicate count in column "Notes and Loans Payable (Short Term)"": 3541
Duplicate count in column "Deferred Income"": 5022
Duplicate count in column "Other Current Liabilities"": 1096
Duplicate count in column "Total Current Liabilities"": 393
Duplicate count in column "Mortgage Payable"": 5338
Duplicate count in column "Notes Payable"": 3699
Duplicate count in column "Unsecured Loans"": 5767
Duplicate count in column "Other Long Term Liabilities"": 2074
Duplicate count in column "Total Long Term Liabilities"": 1037
Duplicate count in column "Total Liabilities"": 389
Duplicate count in column "General Fund Balance"": 380
Duplicate count in column "Total Fund Balances"": 377
Duplicate count in column "Total Liabilities and Fund Balances"": 368
Duplicate count in column "DRG Amounts Other Than Outlier Payments"": 6064
Duplicate count in column "DRG Amounts Before October 1"": 3471
Duplicate count in column "DRG Amounts After October 1"": 3002
Duplicate count in column "Outlier Payments For Discharges"": 6064
Duplicate count in column "Disproportionate Share Adjustment"": 3345
Duplicate count in column "Allowable DSH Percentage"": 4941
Duplicate count in column "Managed Care Simulated Payments"": 4077
Duplicate count in column "Total IME Payment"": 4788
Duplicate count in column "Inpatient Revenue"": 255
Duplicate count in column "Outpatient Revenue"": 803
Duplicate count in column "Total Patient Revenue"": 250
Duplicate count in column "Less Contractual Allowance and Discounts on Patients' Accounts"": 342
Duplicate count in column "Net Patient Revenue"": 250
Duplicate count in column "Less Total Operating Expense"": 92
Duplicate count in column "Net Income from Service to Patients"": 88
Duplicate count in column "Total Other Income"": 343
Duplicate count in column "Total Income"": 97
Duplicate count in column "Total Other Expenses"": 4514
Duplicate count in column "Net Income"": 102
Duplicate count in column "Cost To Charge Ratio"": 6025
Duplicate count in column "Net Revenue from Medicaid"": 1690
Duplicate count in column "Medicaid Charges"": 1699
Duplicate count in column "Net Revenue from Stand-Alone CHIP"": 5082
Duplicate count in column "Stand-Alone CHIP Charges"": 5060

In [ ]:
# Mean, Median and Mode of Each column

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.