# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

In [ ]:
# Healthcare Expenditure Drivers and Hospital Efficiency

## The WHO
    # The Centers for Medicare & Medicaid Services (CMS) 

## The WHAT
    # Hospital Budget expenses broken down by Hospital Name

## The HOW
    # Illustrates Budget utilization for Hospitals Throughout the US

# 3. Homework - work with your own data

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [3]:
# Creating DF for Hospital Provider Cost Report 

df_provider = pd.read_csv('Hospital_Provider_Cost_Report_2022.csv') # Create dataframe for Hospital Provider Code Report 2022 as a part of the Healthcare Expenditure Drivers and Hospital Efficiency project

In [4]:
# DataFrame Info

pd.set_option('display.max_columns', None) # Stop column list for being cut off to be able to view columns as a scrollable element
df_provider.info(verbose=True) # With verbose, it lists out the columns used in the dataset.
# Information gathered from .info()
    # of Columns: 117
    # of Rows: 6064

<class 'pandas.DataFrame'>
RangeIndex: 6064 entries, 0 to 6063
Data columns (total 117 columns):
 #    Column                                                                   Dtype
---   ------                                                                   -----
 0    rpt_rec_num                                                              int64
 1    Provider CCN                                                             int64
 2    Hospital Name                                                            str
 3    Street Address                                                           str
 4    City                                                                     str
 5    State Code                                                               str
 6    Zip Code                                                                 str
 7    County                                                                   str
 8    Medicare CBSA Number                                                     float64
 9    Rural Versus Urban                                                       str
 10   CCN Facility Type                                                        str
 11   Provider Type                                                            int64
 12   Type of Control                                                          int64
 13   Fiscal Year Begin Date                                                   str
 14   Fiscal Year End Date                                                     str
 15   FTE - Employees on Payroll                                               str
 16   Number of Interns and Residents (FTE)                                    str
 17   Total Days Title V                                                       str
 18   Total Days Title XVIII                                                   str
 19   Total Days Title XIX                                                     str
 20   Total Days (V + XVIII + XIX + Unknown)                                   str
 21   Number of Beds                                                           str
 22   Total Bed Days Available                                                 str
 23   Total Discharges Title V                                                 str
 24   Total Discharges Title XVIII                                             str
 25   Total Discharges Title XIX                                               str
 26   Total Discharges (V + XVIII + XIX + Unknown)                             str
 27   Number of Beds + Total for all Subproviders                              str
 28   Hospital Total Days Title V For Adults & Peds                            str
 29   Hospital Total Days Title XVIII For Adults & Peds                        str
 30   Hospital Total Days Title XIX For Adults & Peds                          str
 31   Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds        str
 32   Hospital Number of Beds For Adults & Peds                                str
 33   Hospital Total Bed Days Available For Adults & Peds                      str
 34   Hospital Total Discharges Title V For Adults & Peds                      str
 35   Hospital Total Discharges Title XVIII For Adults & Peds                  str
 36   Hospital Total Discharges Title XIX For Adults & Peds                    str
 37   Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds  str
 38   Cost of Charity Care                                                     str
 39   Total Bad Debt Expense                                                   str
 40   Cost of Uncompensated Care                                               str
 41   Total Unreimbursed and Uncompensated Care                                str
 42   Total Salaries From Worksheet A                                          str
 43   Overhead Non-Salary Costs                                                str
 44   Depreciation Cost                                                        str
 45   Total Costs                                                              str
 46   Inpatient Total Charges                                                  str
 47   Outpatient Total Charges                                                 str
 48   Combined Outpatient + Inpatient Total Charges                            str
 49   Wage-Related Costs (Core)                                                str
 50   Wage-Related Costs (RHC/FQHC)                                            str
 51   Total Salaries (adjusted)                                                str
 52   Contract Labor: Direct Patient Care                                      str
 53   Wage Related Costs for Part - A Teaching Physicians                      str
 54   Wage Related Costs for Interns and Residents                             str
 55   Cash on Hand and in Banks                                                str
 56   Temporary Investments                                                    str
 57   Notes Receivable                                                         str
 58   Accounts Receivable                                                      str
 59   Less: Allowances for Uncollectible Notes and Accounts Receivable         str
 60   Inventory                                                                str
 61   Prepaid Expenses                                                         str
 62   Other Current Assets                                                     str
 63   Total Current Assets                                                     str
 64   Land                                                                     str
 65   Land Improvements                                                        str
 66   Buildings                                                                str
 67   Leasehold Improvements                                                   str
 68   Fixed Equipment                                                          str
 69   Major Movable Equipment                                                  str
 70   Minor Equipment Depreciable                                              str
 71   Health Information Technology Designated Assets                          str
 72   Total Fixed Assets                                                       str
 73   Investments                                                              str
 74   Other Assets                                                             str
 75   Total Other Assets                                                       str
 76   Total Assets                                                             str
 77   Accounts Payable                                                         str
 78   Salaries, Wages, and Fees Payable                                        str
 79   Payroll Taxes Payable                                                    str
 80   Notes and Loans Payable (Short Term)                                     str
 81   Deferred Income                                                          str
 82   Other Current Liabilities                                                str
 83   Total Current Liabilities                                                str
 84   Mortgage Payable                                                         str
 85   Notes Payable                                                            str
 86   Unsecured Loans                                                          str
 87   Other Long Term Liabilities                                              str
 88   Total Long Term Liabilities                                              str
 89   Total Liabilities                                                        str
 90   General Fund Balance                                                     str
 91   Total Fund Balances                                                      str
 92   Total Liabilities and Fund Balances                                      str
 93   DRG Amounts Other Than Outlier Payments                                  float64
 94   DRG Amounts Before October 1                                             str
 95   DRG Amounts After October 1                                              str
 96   Outlier Payments For Discharges                                          float64
 97   Disproportionate Share Adjustment                                        str
 98   Allowable DSH Percentage                                                 str
 99   Managed Care Simulated Payments                                          str
 100  Total IME Payment                                                        str
 101  Inpatient Revenue                                                        str
 102  Outpatient Revenue                                                       str
 103  Total Patient Revenue                                                    str
 104  Less Contractual Allowance and Discounts on Patients' Accounts           str
 105  Net Patient Revenue                                                      str
 106  Less Total Operating Expense                                             str
 107  Net Income from Service to Patients                                      str
 108  Total Other Income                                                       str
 109  Total Income                                                             str
 110  Total Other Expenses                                                     str
 111  Net Income                                                               str
 112  Cost To Charge Ratio                                                     float64
 113  Net Revenue from Medicaid                                                str
 114  Medicaid Charges                                                         str
 115  Net Revenue from Stand-Alone CHIP                                        str
 116  Stand-Alone CHIP Charges                                                 str
dtypes: float64(4), int64(4), str(109)
memory usage: 5.4 MB

In [5]:
# Used to breakdown the number of column datatypes in the dataframe

df_provider.dtypes.value_counts()
    # Dtypes 
        # int64: 4
        # str: 109 
        # float64: 4

# Main question that came from this output:
    # Are there any columns labeled as str that can be converted to float64 or int64?

str        109
int64        4
float64      4
Name: count, dtype: int64

In [6]:
# Check data mentioned in dtype str columns

df_provider.select_dtypes(include=['str']) # Returns columns with datatype str

# Columns labeled as str with str values
    # Hospital Name, Street Address, City, State Code, Zip Code, County, Rural Versus Urban, CCN Facility Type

# Columns labeled as str with int64 values
    # Total Days Title V, Total Days Title XVIII, Total Days Title XIX, Total Days (V + XVIII + XIX + Unknown), Number of Beds, Total Bed Days Available, 
    # Total Discharges Title V, Total Discharges Title XVIII, Total Discharges Title XIX, Total Discharges (V + XVIII + XIX + Unknown),
    # Number of Beds + Total for all Subproviders, Hospital Total Days Title V For Adults & Peds, Hospital Total Days Title XVIII For Adults & Peds, Hospital Total Days Title XIX For Adults & Peds, Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds, 
    # Hospital Number of Beds For Adults & Peds, Hospital Total Bed Days Available For Adults & Peds, Hospital Total Discharges Title V For Adults & Peds, Hospital Total Discharges Title XVIII For Adults & Peds, Hospital Total Discharges Title XIX For Adults & Peds,
    # Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds, Cost of Charity Care, Total Bad Debt Expense, Cost of Uncompensated Care, Total Unreimbursed and Uncompensated Care, Total Salaries From Worksheet A, Overhead Non-Salary Costs, Depreciation Cost,
    # Total Costs, Inpatient Total Charges, Outpatient Total Charges, Combined Outpatient + Inpatient Total Charges, Wage-Related Costs (Core), Wage-Related Costs (RHC/FQHC), Total Salaries (adjusted), Contract Labor: Direct Patient Care, Wage Related Costs for Part - A Teaching Physicians,
    # Wage Related Costs for Interns and Residents, Cash on Hand and in Banks, Temporary Investments, Notes Receivable, Accounts Receivable, Less: Allowances for Uncollectible Notes and Accounts Receivable, Inventory, Prepaid Expenses, Other Current Assets, Total Current Assets,
    # Land, Land Improvements, Buildings, Leasehold Improvements, Fixed Equipment, Major Movable Equipment, Minor Equipment Depreciable, Health Information Technology Designated Assets, Total Fixed Assets, Investments, Other Assets, Total Other Assets, Total Assets, Accounts Payable, 
    # "Salaries, Wages, and Fees Payable", Payroll Taxes Payable, Notes and Loans Payable (Short Term), Deferred Income, Other Current Liabilities, Total Current Liabilities, Mortgage Payable, Notes Payable, Unsecured Loans, Other Long Term Liabilities, Total Long Term Liabilities,
    # Total Liabilities	General Fund Balance, Total Fund Balances, Total Liabilities and Fund Balances, DRG Amounts Before October 1, DRG Amounts After October 1, Disproportionate Share Adjustment, Allowable DSH Percentage, Managed Care Simulated Payments, Total IME Payment, 
    # Inpatient Revenue, Outpatient Revenue, Total Patient Revenue, Less Contractual Allowance and Discounts on Patients' Accounts, Net Patient Revenue, Less Total Operating Expense, Net Income from Service to Patients, Total Other Income, Total Income, Total Other Expenses,
    # Net Income, Net Revenue from Medicaid, Medicaid Charges, Net Revenue from Stand-Alone CHIP, Stand-Alone CHIP Charges

# Columns labeled as str with float64 values
    # FTE - Employees on Payroll, Number of Interns and Residents (FTE)

# Columns labeled as str with date values
    # Fiscal Year Begin Date, Fiscal Year End Date

# Other random questions from inspecting the data results
    # 1. Should the values in the Zip Code column but spliced to be the first 5 digits only and then converted to int, or should this be kept as a str type?
        # Currently thinking to just leave the values for this column as is. Will debate.

,Hospital Name,Street Address,City,State Code,Zip Code,County,Rural Versus Urban,CCN Facility Type,Fiscal Year Begin Date,Fiscal Year End Date,FTE - Employees on Payroll,Number of Interns and Residents (FTE),Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Before October 1,DRG Amounts After October 1,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
0,STRATEGIC BEHAVIORAL CENTER - GARNER,3200 WATERFIELD ROAD,GARNER,NC,27529-7727,NaN,NaN,PH,2022-01-01,2022-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PAUL B. HALL REGIONAL MEDICAL CENTER,PAUL B. HALL REGIONAL MEDICAL CENTE,PAINTSVILLE,KY,41240,JOHNSON,R,STH,2021-10-01,2021-11-30,30.38,NaN,NaN,335,42,"1,110",72,"4,392",NaN,65,92,274,72,NaN,283,42,798,66,"4,026",NaN,65,92,274,"$57,070",NaN,"$57,070","$245,905","$2,268,571","$3,279,490","$270,777","$5,049,463","$26,100,235","$41,571,321","$67,671,556","$1,001,920",NaN,"$2,268,571","$60,247",NaN,NaN,"$-1,548,388",NaN,NaN,"$28,018,299","$-26,200,365",NaN,NaN,"$-705,575","$-436,029",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$76,228","$76,228","$-359,801","$1,037,147","$359,727","$455,344",NaN,NaN,"$73,297","$663,266",NaN,NaN,NaN,NaN,NaN,"$663,266","$-1,023,067","$-1,023,067","$-359,801","$560,124",NaN,"$16,804",12.00%,NaN,NaN,"$26,100,235","$41,571,321","$67,671,556","$61,489,025","$6,182,531","$5,548,061","$634,470","$2,151,392","$2,785,862",$15,"$2,785,847","$1,114,125","$26,708,472",NaN,NaN
2,MARSHFIELD MEDICAL CENTER-EAU CLAIRE,2116 CRAIG ROAD,EAU CLAIRE,WI,54701,NaN,U,STH,2021-10-01,2021-12-31,792.25,0.57,NaN,"1,245",108,"4,082",44,"5,152",NaN,171,35,831,44,NaN,"1,245",83,"3,839",44,"5,152",NaN,171,35,831,"$1,273,341","$2,235,460","$2,248,020","$2,248,020","$21,886,304","$41,272,817","$6,006,682","$50,933,990","$28,118,018","$84,714,916","$112,832,934","$2,790,927",NaN,"$21,886,304","$1,125,947",NaN,NaN,"$33,142,727",NaN,NaN,"$261,740,997",NaN,"$66,702,057",NaN,NaN,"$508,893,410","$41,410,704","$30,092,541","$655,075,202","$232,014,389","$9,221,639","$357,526,016",NaN,NaN,"$813,389,520","$493,874,579","$285,268,483","$779,143,062","$2,101,425,992","$13,450,992","$31,602,079",NaN,"$12,423,689","$49,231,480","$18,411,705","$125,119,945","$1,198,776,672",NaN,NaN,"$128,289,346","$1,327,066,018","$1,452,185,963","$649,240,029","$649,240,029","$2,101,425,992","$2,225,884",NaN,"$48,580",8.73%,"$1,509,884",NaN,"$33,588,992","$121,909,770","$155,498,762","$94,363,079","$61,135,683","$65,395,344","$-4,259,661","$845,990","$-3,413,671","$151,877","$-3,565,548","$14,333,809","$18,797,586",NaN,NaN
3,COBALT REHAB HOSP WESTMINSTER,6500 WEST 104TH AVE,WESTMINSTER,CO,80020,NaN,U,RH,2021-10-08,2021-12-31,22.80,NaN,NaN,134,NaN,569,40,"3,400",NaN,12,NaN,41,40,NaN,134,NaN,569,40,"3,400",NaN,12,NaN,41,NaN,NaN,NaN,NaN,"$974,985","$1,676,967","$44,979","$1,604,587","$1,716,579",NaN,"$1,716,579",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$704,254","$-46,053",NaN,"$98,769",NaN,"$756,970",NaN,NaN,NaN,"$20,208","$4,383","$126,483",NaN,"$547,090","$688,608",NaN,"$4,450,501","$4,450,501","$5,896,079","$148,140","$67,807",NaN,NaN,NaN,NaN,"$215,947",NaN,NaN,NaN,"$6,038,584","$6,038,584","$6,254,531","$-358,452","$-358,452","$5,896,079",NaN,NaN,NaN,NaN,NaN,NaN,"$1,716,578",NaN,"$1,716,578","$1,044,972","$671,606","$2,651,952","$-1,980,346",NaN,"$-1,980,346",NaN,"$-1,980,346",NaN,NaN,NaN,NaN
4,AMERICAN HEALTHCARE SYSTEMS,373 NORTH FAYETTEVILLE STREET,ASHEBORO,NC,27204-,RANDOLPH,U,STH,2021-10-01,2021-12-31,173.01,NaN,NaN,792,213,"5,016",145,"13,340",NaN,178,62,"1,555",145,NaN,745,143,"4,053",133,"12,236",NaN,178,62,"1,555","$1,654,222","$3,738,257","$2,258,671","$2,258,671","$10,586,248","$19,154,646","$257,154","$29,100,930","$76,289,661","$104,740,148","$181,029,809","$3,604,240",NaN,"$10,586,248","$871,479",NaN,NaN,"$-20,513,647",NaN,NaN,"$50,385,908","$-46,682,646","$154,271","$91,490",NaN,"$-29,768,611",NaN,NaN,"$6,221",NaN,NaN,"$43,228",NaN,NaN,"$-207,705",NaN,"$394,971","$1,941,900","$-28,034,416","$1,659,902","$-1,046,562","$-32,531",NaN,NaN,"$893,667","$1,474,476",NaN,"$-18,087,674",NaN,NaN,"$-18,087,674","$-16,613,198","$-11,421,218","$-11,421,218","$-28,034,416",NaN,"$1,556,697","$59,194",15.21%,NaN,NaN,"$76,292,307","$104,753,570","$181,045,877","$156,553,732","$24,492,145","$29,740,894","$-5,248,749","$-6,661,015","$-11,909,764",NaN,"$-11,909,764","$1,724,073","$6,249,901",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6059,COVINGTON COUNTY HOSPITAL,803 GERALD MCRANEY DRIVE,COLLINS,MS,39428,COVINGTON,U,CAH,2021-10-01,2022-09-30,263.92,NaN,NaN,"3,316",1,"4,872",25,"9,125",NaN,64,11,124,35,NaN,235,1,441,25,"9,125",NaN,64,11,124,$1,"$82,131","$28,747","$709,721","$20,447,610","$22,039,530","$670,648","$30,708,677","$9,293,587","$44,546,613","$53,840,200",NaN,NaN,NaN,NaN,NaN,NaN,"$7,851,112",NaN,NaN,"$10,388,442","$-5,928,540","$871,037","$309,098","$1,180,923","$15,289,636","$290,366",NaN,NaN,NaN,NaN,"$10,737,160",NaN,NaN,"$11,211,015",NaN,NaN,NaN,"$26,500,651","$684,966",NaN,NaN,"$820,382",NaN,"$2,859,946","$4,365,294",NaN,"$5,183,274",NaN,NaN,"$5,183,274","$9,548,568","$16,952,083","$16,952,083","$26,500,651",NaN,NaN,NaN,NaN,NaN,NaN,"$17,198,906","$46,013,580","$63,212,486","$29,562,073","$33,650,413","$42,487,140","$-8,836,727","$9,720,711","$883,984",NaN,"$883,984","$1,258,502","$3,994,053",NaN,NaN
6060,PUTNAM HOSPITAL CENTER,670 STONELEIGH AVE,CARMEL,NY,10512,PUTNAM,U,STH,2021-10-01,2022-09-30,485.43,6.79,NaN,"6,281",460,"12,328",81,"29,487",NaN,"1,390",82,"2,797",101,NaN,"5,661",432,"10,091",71,"25,837",NaN,"1,390",82,"2,797","$1,116,358","$2,697,097","$2,146,599","$12,370,372","$46,084,774","$100,139,201","$8,902,298","$132,575,029","$127,934,660","$217,459,051","$345,393,711","$18,323,243",NaN,"$46,084,774","$3,822,107",NaN,NaN,"$3,007,560",NaN,NaN,"$30,124,527","$-20,532,955","$3,425,990","$3,145,377","$959,419","$22,822,508","$1,193,282","$1,223,920","$92,096,943",NaN,NaN,"$111,442,514",NaN,NaN,"$55,826,337",NaN,"$77,778,702","$77,778,702","$156,427,547","$6,903,870","$4,438,003",NaN,"$1,028,700",NaN,"$13,673,570","$51,839,925","$17,295,637",NaN,NaN,"$29,615,347","$46,910,984","$98,750,909","$44,965,622","$57,676,638","$156,427,547",NaN,"$16,267,288",NaN,NaN,"$6,067,649","$532,835","$127,934,660","$217,459,051","$345,393,711","$233,915,137","$111,478,574","$146,223,975","$-34,745,401","$8,546,504","$-26,198,897","$12,215,632","$-38,414,529","$7,927,612","$47,289,306",NaN,NaN
6061,TEXAS CHILDRENS HOSPITAL,6621 FANNIN,HOUSTON,TX,77030,HARRIS,U,CH,2021-10-01,2022-09-30,"11,381.06",471.86,NaN,573,"20,313","248,901",863,"315,279",NaN,83,"1,635","36,460",863,NaN,370,"10,046","154,906",578,"212,318",NaN,83,"1,635","36,460",NaN,NaN,NaN,NaN,"$1,132,206,548","$2,109,931,434","$123,078,380","$2,260,422,547","$3,730,249,072","$2,929,572,986","$6,659,822,058",NaN,NaN,NaN,NaN,NaN,NaN,"$12,215,827",NaN,NaN,"$1,184,646,426","$-542,702,903","$53,652,937","$141,229,333","$275,262,630","$1,237,889,279","$159,112,150",NaN,"$1,674,044,595","$56,285,986","$985,827,161","$662,033,171","$174,250,537","$86,283,498","$2,196,278,203","$2,948,763,273","$379,142,407","$3,327,905,680","$6,762,073,162","$290,390,693","$178,739,142","$24,834,741",NaN,"$11,557,522","$200,880,687","$706,402,785",NaN,"$1,160,406,476",NaN,"$124,334,459","$1,284,740,935","$1,991,143,720","$4,770,929,442","$4,770,929,442","$6,762,073,162",NaN,NaN,NaN,NaN,NaN,NaN,"$3,729,661,212","$2,723,666,059","$6,453,327,271","$3,956,646,736","$2,496,680,535","$3,242,137,982","$-745,457,447","$563,597,452","$-181,859,995","$-2,383,805","$-179,476,190",NaN,NaN,NaN,NaN
6062,WHEATON FRANCISCAN HEALTHCARE - ALL,3801 SPRING STREET,RACINE,WI,53405-,RACINE,U,STH,2022-07-01,2023-06-30,"1,007.11",8.49,NaN,"7,488","3,179","41,292",285,"104,025",NaN,"1,542",577,"7,709",299,NaN,"6,780","2,659","34,539",244,"89,060",NaN,"1,542",577,"7,709","$7,362,919","$11,216,803","$10,674,374","$19,642,425","$71,409,877","$195,671,345","$21,003,583","$253,648,933","$294,702,873","$587,819,229","$882,522,102","$28,195,110",NaN,"$71,405,987","$8,037,264","$171,672",NaN,"$9,741",NaN,NaN,"$95,177,822","$-46,794,750","$7,110,103","$764,215",NaN,"$75,581,887","$3,910,000","$4,336,494","$253,743,562","$950,707","$11,010,713","$57,828,557","$879,290",NaN,"$215,905,482",NaN,"$2,317,430","$2,317,430","$293,804,799","$5,025,996","$5,601,998",NaN,NaN,NaN,"$14,710,243","$60,455,683",NaN,NaN,NaN,"$5,443,749","$5,443,749","$65,899,432","$227,905,367","$227,905,367","$293,804,799","$4,270,739","$11,863,446","$1,036,622",25.70%,"$24,605,396","$252,339","$294,702,874","$587,819,230","$882,522,104","$614,999,944","$267,522,160","$314,711,925","$-47,189,765","$46,937,294","$-252,471","$127,905","$-380,376","$55,447,458","$224,120,987",NaN,NaN
6063,ASCENSION SE WISCONSIN HOSPITAL INC,5000 WEST CHAMBERS STREET,MILWAUKEE,WI,53210-,MILWAUKEE,U,STH,2022-07-01,2023-06-30,"1,119.01",42.57,NaN,"10,424","8,085","51,396",301,"109,865",NaN,"2,060",703,"9,750",310,NaN,"9,426","1,647","32,308",205,"74,825",NaN,"2,060",703,"9,750","$4,590,659","$12,253,135","$7,989,121","$22,326,937","$103,322,983","$215,100,433","$39,551,588","$335,149,165","$433,199,916","$805,919,478","$1,239,119,394","$25,647,995",NaN,"$103,322,983","$7,005,888",NaN,NaN,"$479,316",NaN,NaN,"$104,395,787","$-57,251,975","$11,208,477","$749,344",NaN,"$98,814,153","$12,370,000","$1,924,628","$209,833,539","$1,979,973","$11,604,969","$73,049,994",NaN,NaN,"$194,370,124",NaN,"$4,170,716","$4,170,716","$297,354,993","$5,004,608","$7,529,160",NaN,NaN,NaN,"$11,339,402","$85,790,376",NaN,NaN,NaN,"$6,172,509","$6,172,509","$91,962,885","$204,973,669","$205,392,108","$297,354,993","$4,949,360","$15,789,332","$1,334,017",25.73%,"$32,401,838","$1,218,253","$433,342,907","$805,986,569","$1,239,329,476","$862,290,099","$377,039,377","$374,060,986","$2,978,391","$5,402,430","$8,380,821","$778,536","$7,602,285","$75,932,456","$333,748,427",NaN,NaN

In [7]:
# Change data types of columns from str to float64 

print(df_provider[["FTE - Employees on Payroll", "Number of Interns and Residents (FTE)"]].dtypes) # Rechecking datatypes before conversion

df_provider[["FTE - Employees on Payroll", "Number of Interns and Residents (FTE)"]] = df_provider[["FTE - Employees on Payroll", "Number of Interns and Residents (FTE)"]].replace(',','',regex=True).astype(float)
# Use replace to remove comma values from number. 
# Use astype to convert columns from str to float64

print(df_provider[["FTE - Employees on Payroll", "Number of Interns and Residents (FTE)"]].dtypes) # Rechecking datatypes after conversion

# Check how data looks after conversion
df_provider[["FTE - Employees on Payroll", "Number of Interns and Residents (FTE)"]] # Data Looks as expected

FTE - Employees on Payroll               str
Number of Interns and Residents (FTE)    str
dtype: object
FTE - Employees on Payroll               float64
Number of Interns and Residents (FTE)    float64
dtype: object

      FTE - Employees on Payroll  Number of Interns and Residents (FTE)
0                            NaN                                    NaN
1                          30.38                                    NaN
2                         792.25                                   0.57
3                          22.80                                    NaN
4                         173.01                                    NaN
...                          ...                                    ...
6059                      263.92                                    NaN
6060                      485.43                                   6.79
6061                    11381.06                                 471.86
6062                     1007.11                                   8.49
6063                     1119.01                                  42.57

[6064 rows x 2 columns]

In [8]:
# Change data types of columns from str to date using pd.to_datetime()

print(df_provider[["Fiscal Year Begin Date", "Fiscal Year End Date"]].dtypes) # Rechecking datatypes before conversion

date_columns = ["Fiscal Year Begin Date", "Fiscal Year End Date"] # Create variable for columns to covert to datetime

df_provider[date_columns] = df_provider[date_columns].apply(pd.to_datetime)
# Use replace to remove comma values from number. 
# Use astype to convert columns from str to date

print(df_provider[["Fiscal Year Begin Date", "Fiscal Year End Date"]].dtypes) # Rechecking datatypes after conversion


# Check how data looks after conversion
df_provider[["Fiscal Year Begin Date", "Fiscal Year End Date"]] # Data Looks as expected

Fiscal Year Begin Date    str
Fiscal Year End Date      str
dtype: object
Fiscal Year Begin Date    datetime64[us]
Fiscal Year End Date      datetime64[us]
dtype: object

     Fiscal Year Begin Date Fiscal Year End Date
0                2022-01-01           2022-01-31
1                2021-10-01           2021-11-30
2                2021-10-01           2021-12-31
3                2021-10-08           2021-12-31
4                2021-10-01           2021-12-31
...                     ...                  ...
6059             2021-10-01           2022-09-30
6060             2021-10-01           2022-09-30
6061             2021-10-01           2022-09-30
6062             2022-07-01           2023-06-30
6063             2022-07-01           2023-06-30

[6064 rows x 2 columns]

In [9]:
# Change data types of columns from str to int64 

int_columns = ["Total Days Title V", "Total Days Title XVIII", "Total Days Title XIX", "Total Days (V + XVIII + XIX + Unknown)", "Number of Beds", "Total Bed Days Available", "Total Discharges Title V", "Total Discharges Title XVIII", "Total Discharges Title XIX", "Total Discharges (V + XVIII + XIX + Unknown)", "Number of Beds + Total for all Subproviders", "Hospital Total Days Title V For Adults & Peds", "Hospital Total Days Title XVIII For Adults & Peds", "Hospital Total Days Title XIX For Adults & Peds", "Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds", "Hospital Number of Beds For Adults & Peds", "Hospital Total Bed Days Available For Adults & Peds", "Hospital Total Discharges Title V For Adults & Peds", "Hospital Total Discharges Title XVIII For Adults & Peds", "Hospital Total Discharges Title XIX For Adults & Peds", "Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds", "Cost of Charity Care", "Total Bad Debt Expense", "Cost of Uncompensated Care", "Total Unreimbursed and Uncompensated Care", "Total Salaries From Worksheet A", "Overhead Non-Salary Costs", "Depreciation Cost", "Total Costs", "Inpatient Total Charges", "Outpatient Total Charges", "Combined Outpatient + Inpatient Total Charges", "Wage-Related Costs (Core)", "Wage-Related Costs (RHC/FQHC)", "Total Salaries (adjusted)", "Contract Labor: Direct Patient Care", "Wage Related Costs for Part - A Teaching Physicians", "Wage Related Costs for Interns and Residents", "Cash on Hand and in Banks", "Temporary Investments", "Notes Receivable", "Accounts Receivable", "Less: Allowances for Uncollectible Notes and Accounts Receivable", "Inventory", "Prepaid Expenses", "Other Current Assets", "Total Current Assets", "Land", "Land Improvements", "Buildings", "Leasehold Improvements", "Fixed Equipment", "Major Movable Equipment", "Minor Equipment Depreciable", "Health Information Technology Designated Assets", "Total Fixed Assets", "Investments", "Other Assets", "Total Other Assets", "Total Assets", "Accounts Payable", "Salaries, Wages, and Fees Payable", "Payroll Taxes Payable", "Notes and Loans Payable (Short Term)", "Deferred Income", "Other Current Liabilities", "Total Current Liabilities", "Mortgage Payable", "Notes Payable", "Unsecured Loans", "Other Long Term Liabilities", "Total Long Term Liabilities","Total Liabilities", "General Fund Balance", "Total Fund Balances", "Total Liabilities and Fund Balances", "DRG Amounts Before October 1", "DRG Amounts After October 1", "Disproportionate Share Adjustment", "Allowable DSH Percentage", "Managed Care Simulated Payments", "Total IME Payment", "Inpatient Revenue", "Outpatient Revenue", "Total Patient Revenue", "Less Contractual Allowance and Discounts on Patients' Accounts", "Net Patient Revenue", "Less Total Operating Expense", "Net Income from Service to Patients", "Total Other Income", "Total Income", "Total Other Expenses", "Net Income", "Net Revenue from Medicaid", "Medicaid Charges", "Net Revenue from Stand-Alone CHIP", "Stand-Alone CHIP Charges"
] # Create variable for int64 columns

int_columns_wo_percent = ["Total Days Title V", "Total Days Title XVIII", "Total Days Title XIX", "Total Days (V + XVIII + XIX + Unknown)", "Number of Beds", "Total Bed Days Available", "Total Discharges Title V", "Total Discharges Title XVIII", "Total Discharges Title XIX", "Total Discharges (V + XVIII + XIX + Unknown)", "Number of Beds + Total for all Subproviders", "Hospital Total Days Title V For Adults & Peds", "Hospital Total Days Title XVIII For Adults & Peds", "Hospital Total Days Title XIX For Adults & Peds", "Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds", "Hospital Number of Beds For Adults & Peds", "Hospital Total Bed Days Available For Adults & Peds", "Hospital Total Discharges Title V For Adults & Peds", "Hospital Total Discharges Title XVIII For Adults & Peds", "Hospital Total Discharges Title XIX For Adults & Peds", "Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds", "Cost of Charity Care", "Total Bad Debt Expense", "Cost of Uncompensated Care", "Total Unreimbursed and Uncompensated Care", "Total Salaries From Worksheet A", "Overhead Non-Salary Costs", "Depreciation Cost", "Total Costs", "Inpatient Total Charges", "Outpatient Total Charges", "Combined Outpatient + Inpatient Total Charges", "Wage-Related Costs (Core)", "Wage-Related Costs (RHC/FQHC)", "Total Salaries (adjusted)", "Contract Labor: Direct Patient Care", "Wage Related Costs for Part - A Teaching Physicians", "Wage Related Costs for Interns and Residents", "Cash on Hand and in Banks", "Temporary Investments", "Notes Receivable", "Accounts Receivable", "Less: Allowances for Uncollectible Notes and Accounts Receivable", "Inventory", "Prepaid Expenses", "Other Current Assets", "Total Current Assets", "Land", "Land Improvements", "Buildings", "Leasehold Improvements", "Fixed Equipment", "Major Movable Equipment", "Minor Equipment Depreciable", "Health Information Technology Designated Assets", "Total Fixed Assets", "Investments", "Other Assets", "Total Other Assets", "Total Assets", "Accounts Payable", "Salaries, Wages, and Fees Payable", "Payroll Taxes Payable", "Notes and Loans Payable (Short Term)", "Deferred Income", "Other Current Liabilities", "Total Current Liabilities", "Mortgage Payable", "Notes Payable", "Unsecured Loans", "Other Long Term Liabilities", "Total Long Term Liabilities","Total Liabilities", "General Fund Balance", "Total Fund Balances", "Total Liabilities and Fund Balances", "DRG Amounts Before October 1", "DRG Amounts After October 1", "Disproportionate Share Adjustment", "Managed Care Simulated Payments", "Total IME Payment", "Inpatient Revenue", "Outpatient Revenue", "Total Patient Revenue", "Less Contractual Allowance and Discounts on Patients' Accounts", "Net Patient Revenue", "Less Total Operating Expense", "Net Income from Service to Patients", "Total Other Income", "Total Income", "Total Other Expenses", "Net Income", "Net Revenue from Medicaid", "Medicaid Charges", "Net Revenue from Stand-Alone CHIP", "Stand-Alone CHIP Charges"
] # Removes One column that is a percent and should stay a float

print(df_provider[int_columns].dtypes) # Rechecking datatypes before conversion

df_provider[int_columns] = df_provider[int_columns].replace(',','',regex=True).replace('\$','',regex=True).replace('%','',regex=True).astype(float)
# Use replace to remove comma values from number. 
# Use replace to remove dollar sign from number. 
# Use replace to remove percent sign from number. 
# Use errors='coerce' to avoid crashing due to NaN values, more than likely to_numeric will convert the text to float64
# Once decided what to do with NaN values, can decide if this should be reconverted to int

# Direct conversion to int64 failed due to NaN values, values have been converted to float64

df_provider[int_columns_wo_percent] = df_provider[int_columns_wo_percent].astype('Int64')
# NA values now appear as <NA>

print(df_provider[int_columns].dtypes) # Rechecking datatypes after conversion

# Check how data looks after conversion
df_provider[int_columns] # Data Looks as expected

Total Days Title V                        str
Total Days Title XVIII                    str
Total Days Title XIX                      str
Total Days (V + XVIII + XIX + Unknown)    str
Number of Beds                            str
                                         ...
Net Income                                str
Net Revenue from Medicaid                 str
Medicaid Charges                          str
Net Revenue from Stand-Alone CHIP         str
Stand-Alone CHIP Charges                  str
Length: 97, dtype: object

<>:11: SyntaxWarning: invalid escape sequence '\$'
<>:11: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_2159/195956574.py:11: SyntaxWarning: invalid escape sequence '\$'
  df_provider[int_columns] = df_provider[int_columns].replace(',','',regex=True).replace('\$','',regex=True).replace('%','',regex=True).astype(float)

Total Days Title V                        Int64
Total Days Title XVIII                    Int64
Total Days Title XIX                      Int64
Total Days (V + XVIII + XIX + Unknown)    Int64
Number of Beds                            Int64
                                          ...
Net Income                                Int64
Net Revenue from Medicaid                 Int64
Medicaid Charges                          Int64
Net Revenue from Stand-Alone CHIP         Int64
Stand-Alone CHIP Charges                  Int64
Length: 97, dtype: object

,Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Before October 1,DRG Amounts After October 1,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,<NA>,335,42,1110,72,4392,<NA>,65,92,274,72,<NA>,283,42,798,66,4026,<NA>,65,92,274,57070,<NA>,57070,245905,2268571,3279490,270777,5049463,26100235,41571321,67671556,1001920,<NA>,2268571,60247,<NA>,<NA>,-1548388,<NA>,<NA>,28018299,-26200365,<NA>,<NA>,-705575,-436029,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,76228,76228,-359801,1037147,359727,455344,<NA>,<NA>,73297,663266,<NA>,<NA>,<NA>,<NA>,<NA>,663266,-1023067,-1023067,-359801,560124,<NA>,16804,12.00,<NA>,<NA>,26100235,41571321,67671556,61489025,6182531,5548061,634470,2151392,2785862,15,2785847,1114125,26708472,<NA>,<NA>
2,<NA>,1245,108,4082,44,5152,<NA>,171,35,831,44,<NA>,1245,83,3839,44,5152,<NA>,171,35,831,1273341,2235460,2248020,2248020,21886304,41272817,6006682,50933990,28118018,84714916,112832934,2790927,<NA>,21886304,1125947,<NA>,<NA>,33142727,<NA>,<NA>,261740997,<NA>,66702057,<NA>,<NA>,508893410,41410704,30092541,655075202,232014389,9221639,357526016,<NA>,<NA>,813389520,493874579,285268483,779143062,2101425992,13450992,31602079,<NA>,12423689,49231480,18411705,125119945,1198776672,<NA>,<NA>,128289346,1327066018,1452185963,649240029,649240029,2101425992,2225884,<NA>,48580,8.73,1509884,<NA>,33588992,121909770,155498762,94363079,61135683,65395344,-4259661,845990,-3413671,151877,-3565548,14333809,18797586,<NA>,<NA>
3,<NA>,134,<NA>,569,40,3400,<NA>,12,<NA>,41,40,<NA>,134,<NA>,569,40,3400,<NA>,12,<NA>,41,<NA>,<NA>,<NA>,<NA>,974985,1676967,44979,1604587,1716579,<NA>,1716579,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,704254,-46053,<NA>,98769,<NA>,756970,<NA>,<NA>,<NA>,20208,4383,126483,<NA>,547090,688608,<NA>,4450501,4450501,5896079,148140,67807,<NA>,<NA>,<NA>,<NA>,215947,<NA>,<NA>,<NA>,6038584,6038584,6254531,-358452,-358452,5896079,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,1716578,<NA>,1716578,1044972,671606,2651952,-1980346,<NA>,-1980346,<NA>,-1980346,<NA>,<NA>,<NA>,<NA>
4,<NA>,792,213,5016,145,13340,<NA>,178,62,1555,145,<NA>,745,143,4053,133,12236,<NA>,178,62,1555,1654222,3738257,2258671,2258671,10586248,19154646,257154,29100930,76289661,104740148,181029809,3604240,<NA>,10586248,871479,<NA>,<NA>,-20513647,<NA>,<NA>,50385908,-46682646,154271,91490,<NA>,-29768611,<NA>,<NA>,6221,<NA>,<NA>,43228,<NA>,<NA>,-207705,<NA>,394971,1941900,-28034416,1659902,-1046562,-32531,<NA>,<NA>,893667,1474476,<NA>,-18087674,<NA>,<NA>,-18087674,-16613198,-11421218,-11421218,-28034416,<NA>,1556697,59194,15.21,<NA>,<NA>,76292307,104753570,181045877,156553732,24492145,29740894,-5248749,-6661015,-11909764,<NA>,-11909764,1724073,6249901,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6059,<NA>,3316,1,4872,25,9125,<NA>,64,11,124,35,<NA>,235,1,441,25,9125,<NA>,64,11,124,1,82131,28747,709721,20447610,22039530,670648,30708677,9293587,44546613,53840200,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7851112,<NA>,<NA>,10388442,-5928540,871037,309098,1180923,15289636,290366,<NA>,<NA>,<NA>,<NA>,10737160,<NA>,<NA>,11211015,<NA>,<NA>,<NA>,26500651,684966,<NA>,<NA>,820382,<NA>,2859946,4365294,<NA>,5183274,<NA>,<NA>,5183274,9548568,16952083,16952083,26500651,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,17198906,46013580,63212486,29562073,33650413,42487140,-8836727,9720711,883984,<NA>,883984,1258502,3994053,<NA>,<NA>
6060,<NA>,6281,460,12328,81,29487,<NA>,1390,82,2797,101,<NA>,5661,432,10091,71,25837,<NA>,1390,82,2797,1116358,2697097,2146599,12370372,46084774,100139201,8902298,132575029,127934660,217459051,345393711,18323243,<NA>,46084774,3822107,<NA>,<NA>,3007560,<NA>,<NA>,30124527,-20532955,3425990,3145377,959419,22822508,1193282,1223920,92096943,<NA>,<NA>,111442514,<NA>,<NA>,55826337,<NA>,77778702,77778702,156427547,6903870,4438003,<NA>,1028700,<NA>,13673570,51839925,17295637,<NA>,<NA>,29615347,46910984,98750909,44965622,57676638,156427547,<NA>,16267288,<NA>,NaN,6067649,532835,127934660,217459051,345393711,233915137,111478574,146223975,-34745401,8546504,-26198897,12215632,-38414529,7927612,47289306,<NA>,<NA>
6061,<NA>,573,20313,248901,863,315279,<NA>,83,1635,36460,863,<NA>,370,10046,154906,578,212318,<NA>,83,1635,36460,<NA>,<NA>,<NA>,<NA>,1132206548,2109931434,123078380,2260422547,3730249072,2929572986,6659822058,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,12215827,<NA>,<NA>,1184646426,-542702903,53652937,141229333,275262630,1237889279,159112150,<NA>,1674044595,56285986,985827161,662033171,174250537,86283498,2196278203,2948763273,379142407,3327905680,6762073162,290390693,178739142,24834741,<NA>,11557522,200880687,706402785,<NA>,1160406476,<NA>,124334459,1284740935,1991143720,4770929442,4770929442,6762073162,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,3729661212,2723666059,6453327271,3956646736,2496680535,3242137982,-745457447,563597452,-181859995,-2383805,-179476190,<NA>,<NA>,<NA>,<NA>
6062,<NA>,7488,3179,41292,285,104025,<NA>,1542,577,7709,299,<NA>,6780,2659,34539,244,89060,<NA>,1542,577,7709,7362919,11216803,10674374,19642425,71409877,195671345,21003583,253648933,294702873,587819229,882522102,28195110,<NA>,71405987,8037264,171672,<NA>,9741,<NA>,<NA>,95177822,-46794750,7110103,764215,<NA>,75581887,3910000,4336494,253743562,950707,11010713,57828557,879290,<NA>,215905482,<NA>,2317430,2317430,293804799,5025996,5601998,<NA>,<NA>,<NA>,14710243,60455683,<NA>,<NA>,<NA>,5443749,5443749,65899432,227905367,227905367,293804799,4270739,11863446,1036622,25.70,24605396,252339,294702874,587819230,882522104,614999944,267522160,314711925,-47189765,46937294,-252471,127905,-380376,55447458,224120987,<NA>,<NA>
6063,<NA>,10424,8085,51396,301,109865,<NA>,2060,703,9750,310,<NA>,9426,1647,32308,205,74825,<NA>,2060,703,9750,4590659,12253135,7989121,22326937,103322983,215100433,39551588,335149165,433199916,805919478,1239119394,25647995,<NA>,103322983,7005888,<NA>,<NA>,479316,<NA>,<NA>,104395787,-57251975,11208477,749344,<NA>,98814153,12370000,1924628,209833539,1979973,11604969,73049994,<NA>,<NA>,194370124,<NA>,4170716,4170716,297354993,5004608,7529160,<NA>,<NA>,<NA>,11339402,85790376,<NA>,<NA>,<NA>,6172509,6172509,91962885,204973669,205392108,297354993,4949360,15789332,1334017,25.73,32401838,1218253,433342907,805986569,1239329476,862290099,377039377,374060986,2978391,5402430,8380821,778536,7602285,75932456,333748427,<NA>,<NA>

In [10]:
# Decribe Dataset

df_provider.describe(exclude=['str','datetime64']) # To describe all the columns in dataset that are not str or datatime datatypes
# Describe does not work on str variables, made conversions above to change non category columns to float or int datatypes

# NaN values returing for 2 columns DRG Amounts Other Than Outlier Payments, Outlier Payments For Discharges
    # Check data values in original dataframe to see confirm if this is expected behavior

,rpt_rec_num,Provider CCN,Medicare CBSA Number,Provider Type,Type of Control,FTE - Employees on Payroll,Number of Interns and Residents (FTE),Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Other Than Outlier Payments,DRG Amounts Before October 1,DRG Amounts After October 1,Outlier Payments For Discharges,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
count,6064.000000,6064.000000,5981.000000,6064.000000,6064.000000,5946.000000,1499.000000,134.0,5913.0,5051.0,5963.0,5970.0,5970.0,126.0,5922.0,4981.0,5962.0,5975.0,124.0,5898.0,4988.0,5960.0,5966.0,5967.0,126.0,5922.0,4981.0,5962.0,4244.0,4456.0,4515.0,4536.0,5977.0,5981.0,5915.0,5981.0,5975.0,5449.0,5981.0,3600.0,383.0,3746.0,3188.0,406.0,813.0,5513.0,1039.0,243.0,5688.0,4101.0,5145.0,4931.0,2459.0,5744.0,4169.0,3793.0,5057.0,2880.0,3399.0,5199.0,979.0,450.0,5695.0,2291.0,4690.0,5093.0,5762.0,5660.0,5167.0,2190.0,2588.0,1093.0,5036.0,5730.0,746.0,2396.0,304.0,4057.0,5092.0,5732.0,5750.0,5752.0,5759.0,0.0,2596.0,3062.0,0.0,2729.0,2777.000000,1987.0,1278.0,5818.0,5284.0,5821.0,5740.0,5823.0,5979.0,5979.0,5751.0,5973.0,1778.0,5974.0,4600.000000,4385.0,4373.0,986.0,1006.0
mean,754291.104387,269404.638522,53018.188263,1.708773,4.178595,1174.646171,94.247245,2175.932836,7604.045831,3390.437735,31770.536978,133.943384,48371.703853,402.674603,1257.251773,522.258181,5393.199094,151.47113,1257.233871,6533.565615,2485.373897,25341.531879,113.098558,40822.444277,402.674603,1257.251773,522.258181,5393.199094,6755720.368992,11336083.993716,8990036.628128,17726783.532628,80465167.516647,146313837.813576,9191138.41623,183720781.84317,424058437.683515,466348478.269407,848500589.073566,25740977.1675,840055.261097,111498088.763748,13647232.700125,1153458.948276,2316547.913899,20843864.625068,55427291.654475,20417549.855967,82408651.741561,-61300357.084126,4724237.067833,2668346.9493,18772073.274908,120478024.372911,9322615.491005,4493189.377538,147747092.964801,15722188.267708,35784493.529273,69198084.719369,13207678.860061,11721987.608889,115408018.389991,147854420.828459,78640033.414286,142343940.60377,359984749.431447,17353828.553534,10025978.073931,1600370.394977,6055403.930062,5172274.020128,22973665.959293,57941488.756021,122214566.13941,63333424.478715,-160504246.055921,84661436.277052,105576808.241555,151710020.610258,202606790.565565,208970317.234875,359715072.559993,NaN,13530546.211479,15876837.223057,NaN,1165690.786369,16.011894,30917307.455964,5808516.382629,440436144.804056,500915935.664459,894914498.28569,682039613.361847,222289183.208655,228621713.504432,-12132348.422646,22122194.788732,9155437.972711,6840884.829021,7117900.533144,1.349850,31727939.083922,194253153.772696,710858.167343,4443109.45825
std,10770.303579,160322.536510,34012.617263,1.431237,3.200321,13569.179424,170.730012,4148.544626,12124.613554,8052.593393,51594.003236,181.238049,65535.352361,686.28155,2036.5851,1214.872156,8945.703408,199.1162,2393.882852,10530.17572,6213.427302,39793.53899,143.628359,51927.390735,686.28155,2036.5851,1214.872156,8945.703408,20192438.341182,23106107.114377,23839945.412203,45155768.88274,178077800.232318,313224579.05954,20788097.385986,365546077.751183,1016601033.779264,923362387.816553,1851248677.502873,47984590.04706,2212377.998146,201766035.33343,25980481.834777,4081483.2544,4550917.832721,130507650.800884,196283496.733265,116559669.967971,221297374.887246,183578604.362038,16274700.780444,12190377.163677,161289972.811893,707464340.594266,32628980.534643,19728661.347171,466427728.988549,75011042.715773,109883533.218371,188318734.743673,49458633.943536,53359497.983472,350147974.851227,748762053.137613,987605634.389659,1120769678.70619,1598392430.780432,116346539.465232,52304585.055254,11219500.870287,36671693.321288,27710887.685081,223885594.902491,645668805.3284,436219211.945721,182959823.795997,582314917.279839,1061049119.638342,1015146214.151254,1213490375.246137,733218485.212503,767145215.72176,1599532795.534368,NaN,20694524.78965,26052016.289147,NaN,1857584.442388,11.820273,34249394.514461,12164661.430385,1035171001.618119,980204192.436353,1913336886.584509,1514916810.784909,470202488.168787,488164171.964027,146975895.760163,94447580.843033,128548843.759853,46772539.568816,128905254.845405,53.870607,87500843.094701,424829675.79164,3114267.811219,21700379.920991
min,717629.000000,10001.000000,10180.000000,1.000000,1.000000,0.050000,0.010000,1.0,1.0,1.0,1.0,1.0,107.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,107.0,1.0,1.0,1.0,1.0,1.0,-442602.0,-19575.0,-19575.0,1.0,-37043150.0,-112042026.0,576425.0,36.0,21.0,7808.0,1.0,3465.0,1.0,984.0,37.0,69.0,-2698596888.0,-308458746.0,-172615772.0,-1313463993.0,-5019264385.0,-783470927.0,-39544742.0,-2658067732.0,-2515910355.0,-42265.0,-337145659.0,-159611743.0,-276969057.0,-481917598.0,-239261550.0,-138102522.0,-41520779.0,-774723879.0,-174948285.0,-1256753719.0,-1321506860.0,-1341894432.0,-1448503776.0,-132481607.0,-146801063.0,-128483666.0,-27556349.0,-2621809044.0,-2575031533.0,-800913075.0,-275749396.0,-4343402834.0,-936069923.0,-4301267991.0,-4225592471.0,-1850154905.0,-1850154905.0,-1341894432.0,NaN,1.0,1.0,NaN,1.0,0.670000,3845.0,60.0,1.0,2.0,1.0,-6670292.0,-363487336.0,-32012840.0,-1625376000.0,-296372414.0,-1224029123.0,-568651618.0,-1224029123.0,0.040000,-14497169.0,10.0,54.0,72.0
25%,745140.750000,140157.250000,26420.000000,1.000000,2.000000,129.112500,8.395000,110.0,989.0,121.0,3467.0,25.0,9125.0,10.25,125.0,18.0,392.0,30.0,23.25,603.0,79.0,2068.75,25.0,9125.0,10.25,125.0,18.0,392.0,346890.0,1276663.75,987881.5,1835713.25,10263430.0,13255954.0,776341.0,21683394.0,15749808.0,25494578.0,47139483.0,3543335.75,114310.0,17376311.0,1227924.75,42564.0,274126.0,10095.0,556118.0,83427.0,4923484.75,-48708289.0,301416.0,115799.0,94986.0,6407341.0,408000.0,384512.0,11585158.0,369185.75,1268382.5,4326392.5,423052.5,677613.25,6878320.5,1630112.0,848736.25,1593990.0,21481612.75,768298.0,698801.0,32192.0,310962.0,58966.0,359994.0,2820749.5,2404203.25,969546.0,-186013434.75,871858.0,1635067.75,5170913.75,6613387.0,6638401.25,21393964.5,NaN,2194788.5,1900867.5,NaN,133773.0,9.010000,7600288.5,467914.0,17522647.75,32926076.25,52603457.0,27068125.5,22717409.5,24346739.0,-12487234.0,643341.0,-3266985.0,1.0,-3868518.5,0.200000,2851322.0,11189569.0,17489.0,99998.5
50%,755650.500000,260021.000000,39300.000000,1.000000,2.000000,288.250000,28.330000,722.0,2819.0,680.0,12208.0,64.0,22630.0,102.0,377.0,102.0,1518.0,79.0,244.5,2389.5,480.5,10619.5,60.0,21535.0,102.0,377.0,102.0,1518.0,1657734.5,4177600.0,2851038.0,5741118.5,23961856.0,38649270.0,2475001.0,54352147.0,63461286.0,142918601.0,169986072.0,10997402.0,280912.0,50527408.5,4981060.0,176107.5,671179.0,1575146.0,3985665.0,809239.0,16816912.0,-10219125.0,1369320.0,383029.0,721589.0,20512397.0,2029000.0,1392252.0,34408991.0,2051765.0,5135661.0,15893398.0,2791008.0,1772481.0,26029294.0,10455036.0,5206907.0,10066462.0,62209499.5,2755687.0,1741744.0,164870.0,1097987.5,419281.0,1901440.0,9482106.0,14898789.5,7327704.0,318926.5,6038635.0,11906619.0,21793935.5,30741716.0,30997247.0,62170282.0,NaN,6177513.0,6516076.5,NaN,501538.0,12.000000,19932736.0,1846669.5,67638085.5,161735623.0,189748004.0,126810109.0,60709495.0,63175036.0,-2037805.0,2970702.0,1004401.0,97393.0,750973.0,0.290000,9163034.0,51660315.0,72855.0,480206.5
75%,762052.750000,393035.250000,99916.000000,1.000000,5.000000,902.735000,91.025000,2627.25,9297.0,3083.0,37958.0,170.0,61685.0,496.5,1542.75,467.0,6809.5,192.5,1765.5,8251.25,2187.25,32011.75,146.0,52925.0,496.5,1542.75,467.0,6809.5,5919575.75,12417638.25,8364911.5,17278504.75,79401210.0,144896106.0,8980483.5,188670337.0,377903047.0,569956120.0,887775913.0,27781713.5,708756.0,121746164.75,14904109.0,521590.75,2032458.0,9423410.0,24327455.0,3532960.0,67862246.5,-2177619.0,4954034.0,1434993.5,5281848.5,67699073.5,7640445.0,4088212.0,117524733.0,9122039.25,25750670.0,59356822.5,10431264.0,7773147.0,95371550.0,56404242.0,25608067.75,48085167.0,225169973.75,10679166.0,6153321.5,827203.25,3728408.5,1715449.0,9267056.5,36124802.75,59787032.0,40897131.75,14372060.75,25322296.0,49868154.5,82498337.25,139894966.5,141977739.0,224829506.0,NaN,17226992.5,18404848.75,NaN,1440343.0,19.200000,43312102.0,5515843.5,401140175.5,612079180.0,961073665.0,726407207.5,227029585.5,227539966.0,2852722.0,10608287.0,8285527.0,1888425.0,7395911.0,0.480000,27845022.0,194046682.0,283408.0,2083000.5
max,776832.000000,713029.000000,99966.000000,10.000000,13.000000,987647.000000,1734.240000,32548.0,176816.0,175703.0,799342.0,2850.0,999370.0,3597.0,29870.0,18581.0,140787.0,3287.0,21003.0,152550.0,175703.0,639717.0,2294.0,817600.0,3597.0,29870.0,18581.0,140787.0,644251396.0,547209103.0,716328387.0,1010711032.0,3728652302.0,5304628671.0,456309550.0,6463576399.0,19414596302.0,22052095387.0,41444997678.0,733971459.0,23542404.0,3608508016.0,498188006.0,49759453.0,41104447.0,3055080762.0,2939200000.0,1534300000.0,5068343209.0,2997982490.0,200168000.0,353767605.0,4697895790.0,44292178622.0,529809000.0,629810024.0,8569498000.0,2564077219.0,2678580281.0,3007315000.0,845952025.0,1029207374.0,5971542000.0,10981192000.0,52079022548.0,52079022548.0,54655590658.0,4710557139.0,1165861000.0,417567000.0,1280860894.0,540041524.0,10961280134.0,43675995651.0,3901311000.0,2736203530.0,4560230000.0,53171416289.0,53171416289.0,53365587658.0,13447547000.0,13903940052.0,54655590658.0,NaN,291700423.0,411742140.0,NaN,28482749.0,132.390000,366237720.0,167566989.0,19541402420.0,22052095387.0,41444997678.0,34204267678.0,8944229494.0,7808637443.0,7864650440.0,1794123702.0,7903916479.0,719722484.0,7919569502.0,3636.890000,3173353585.0,7968634234.0,44817135.0,379112601.0

In [11]:
# Check for duplicate records

df_provider.duplicated().sum() # No duplicate rows returned from the Dataset
# Mode below confirm the lack of duplicates in dataset

np.int64(0)

In [12]:
# Check for duplicate records per column (when this would be inappropriate?)

for col in df_provider.columns:
    duplicate_column_count = df_provider.duplicated(subset=[col], keep=False).sum()
    print(f'Duplicate count in column "{col}": {duplicate_column_count}')

# All the column by itself expect rpt_rec_num contain duplicate values
# The column rpt_rec_num currently contains no duplicate values. This column is a unique (primary key)
# "system-generated sequence number assigned by CMS". It would be inappropriate for this column to contain duplicates.

Duplicate count in column "rpt_rec_num": 0
Duplicate count in column "Provider CCN": 127
Duplicate count in column "Hospital Name": 494
Duplicate count in column "Street Address": 277
Duplicate count in column "City": 3920
Duplicate count in column "State Code": 6063
Duplicate count in column "Zip Code": 1315
Duplicate count in column "County": 5287
Duplicate count in column "Medicare CBSA Number": 6022
Duplicate count in column "Rural Versus Urban": 6064
Duplicate count in column "CCN Facility Type": 6064
Duplicate count in column "Provider Type": 6063
Duplicate count in column "Type of Control": 6064
Duplicate count in column "Fiscal Year Begin Date": 6007
Duplicate count in column "Fiscal Year End Date": 6020
Duplicate count in column "FTE - Employees on Payroll": 656
Duplicate count in column "Number of Interns and Residents (FTE)": 4828
Duplicate count in column "Total Days Title V": 5947
Duplicate count in column "Total Days Title XVIII": 2573
Duplicate count in column "Total Days Title XIX": 4072
Duplicate count in column "Total Days (V + XVIII + XIX + Unknown)": 1044
Duplicate count in column "Number of Beds": 5852
Duplicate count in column "Total Bed Days Available": 5183
Duplicate count in column "Total Discharges Title V": 5977
Duplicate count in column "Total Discharges Title XVIII": 4509
Duplicate count in column "Total Discharges Title XIX": 5300
Duplicate count in column "Total Discharges (V + XVIII + XIX + Unknown)": 3230
Duplicate count in column "Number of Beds + Total for all Subproviders": 5845
Duplicate count in column "Hospital Total Days Title V For Adults & Peds": 5969
Duplicate count in column "Hospital Total Days Title XVIII For Adults & Peds": 2827
Duplicate count in column "Hospital Total Days Title XIX For Adults & Peds": 4360
Duplicate count in column "Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds": 1398
Duplicate count in column "Hospital Number of Beds For Adults & Peds": 5901
Duplicate count in column "Hospital Total Bed Days Available For Adults & Peds": 5249
Duplicate count in column "Hospital Total Discharges Title V For Adults & Peds": 5977
Duplicate count in column "Hospital Total Discharges Title XVIII For Adults & Peds": 4509
Duplicate count in column "Hospital Total Discharges Title XIX For Adults & Peds": 5300
Duplicate count in column "Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds": 3230
Duplicate count in column "Cost of Charity Care": 1826
Duplicate count in column "Total Bad Debt Expense": 1614
Duplicate count in column "Cost of Uncompensated Care": 1553
Duplicate count in column "Total Unreimbursed and Uncompensated Care": 1532
Duplicate count in column "Total Salaries From Worksheet A": 92
Duplicate count in column "Overhead Non-Salary Costs": 88
Duplicate count in column "Depreciation Cost": 168
Duplicate count in column "Total Costs": 83
Duplicate count in column "Inpatient Total Charges": 95
Duplicate count in column "Outpatient Total Charges": 647
Duplicate count in column "Combined Outpatient + Inpatient Total Charges": 83
Duplicate count in column "Wage-Related Costs (Core)": 2502
Duplicate count in column "Wage-Related Costs (RHC/FQHC)": 5683
Duplicate count in column "Total Salaries (adjusted)": 2318
Duplicate count in column "Contract Labor: Direct Patient Care": 2882
Duplicate count in column "Wage Related Costs for Part - A Teaching Physicians": 5660
Duplicate count in column "Wage Related Costs for Interns and Residents": 5251
Duplicate count in column "Cash on Hand and in Banks": 783
Duplicate count in column "Temporary Investments": 5061
Duplicate count in column "Notes Receivable": 5828
Duplicate count in column "Accounts Receivable": 436
Duplicate count in column "Less: Allowances for Uncollectible Notes and Accounts Receivable": 2007
Duplicate count in column "Inventory": 989
Duplicate count in column "Prepaid Expenses": 1205
Duplicate count in column "Other Current Assets": 3666
Duplicate count in column "Total Current Assets": 382
Duplicate count in column "Land": 2184
Duplicate count in column "Land Improvements": 2354
Duplicate count in column "Buildings": 1079
Duplicate count in column "Leasehold Improvements": 3233
Duplicate count in column "Fixed Equipment": 2715
Duplicate count in column "Major Movable Equipment": 934
Duplicate count in column "Minor Equipment Depreciable": 5104
Duplicate count in column "Health Information Technology Designated Assets": 5622
Duplicate count in column "Total Fixed Assets": 437
Duplicate count in column "Investments": 3850
Duplicate count in column "Other Assets": 1467
Duplicate count in column "Total Other Assets": 1051
Duplicate count in column "Total Assets": 366
Duplicate count in column "Accounts Payable": 475
Duplicate count in column "Salaries, Wages, and Fees Payable": 955
Duplicate count in column "Payroll Taxes Payable": 3907
Duplicate count in column "Notes and Loans Payable (Short Term)": 3541
Duplicate count in column "Deferred Income": 5022
Duplicate count in column "Other Current Liabilities": 1096
Duplicate count in column "Total Current Liabilities": 393
Duplicate count in column "Mortgage Payable": 5338
Duplicate count in column "Notes Payable": 3699
Duplicate count in column "Unsecured Loans": 5767
Duplicate count in column "Other Long Term Liabilities": 2074
Duplicate count in column "Total Long Term Liabilities": 1037
Duplicate count in column "Total Liabilities": 389
Duplicate count in column "General Fund Balance": 380
Duplicate count in column "Total Fund Balances": 377
Duplicate count in column "Total Liabilities and Fund Balances": 368
Duplicate count in column "DRG Amounts Other Than Outlier Payments": 6064
Duplicate count in column "DRG Amounts Before October 1": 3471
Duplicate count in column "DRG Amounts After October 1": 3002
Duplicate count in column "Outlier Payments For Discharges": 6064
Duplicate count in column "Disproportionate Share Adjustment": 3345
Duplicate count in column "Allowable DSH Percentage": 4941
Duplicate count in column "Managed Care Simulated Payments": 4077
Duplicate count in column "Total IME Payment": 4788
Duplicate count in column "Inpatient Revenue": 255
Duplicate count in column "Outpatient Revenue": 803
Duplicate count in column "Total Patient Revenue": 250
Duplicate count in column "Less Contractual Allowance and Discounts on Patients' Accounts": 342
Duplicate count in column "Net Patient Revenue": 250
Duplicate count in column "Less Total Operating Expense": 92
Duplicate count in column "Net Income from Service to Patients": 88
Duplicate count in column "Total Other Income": 343
Duplicate count in column "Total Income": 97
Duplicate count in column "Total Other Expenses": 4514
Duplicate count in column "Net Income": 102
Duplicate count in column "Cost To Charge Ratio": 6025
Duplicate count in column "Net Revenue from Medicaid": 1690
Duplicate count in column "Medicaid Charges": 1699
Duplicate count in column "Net Revenue from Stand-Alone CHIP": 5082
Duplicate count in column "Stand-Alone CHIP Charges": 5060

In [13]:
# Mean
mean = df_provider.mean(numeric_only=True).reset_index() # Return mean of each column
mean # Display mean of df_provider dataset

                                 index                 0
0                          rpt_rec_num     754291.104387
1                         Provider CCN     269404.638522
2                 Medicare CBSA Number      53018.188263
3                        Provider Type          1.708773
4                      Type of Control          4.178595
..                                 ...               ...
102               Cost To Charge Ratio           1.34985
103          Net Revenue from Medicaid   31727939.083922
104                   Medicaid Charges  194253153.772696
105  Net Revenue from Stand-Alone CHIP     710858.167343
106           Stand-Alone CHIP Charges     4443109.45825

[107 rows x 2 columns]

In [14]:
# Median
median = df_provider.median(numeric_only=True).reset_index() # Return median of each column
median # Display median of df_provider dataset

                                 index           0
0                          rpt_rec_num    755650.5
1                         Provider CCN    260021.0
2                 Medicare CBSA Number     39300.0
3                        Provider Type         1.0
4                      Type of Control         2.0
..                                 ...         ...
102               Cost To Charge Ratio        0.29
103          Net Revenue from Medicaid   9163034.0
104                   Medicaid Charges  51660315.0
105  Net Revenue from Stand-Alone CHIP     72855.0
106           Stand-Alone CHIP Charges    480206.5

[107 rows x 2 columns]

In [15]:
# Mode
mode = df_provider.mode(numeric_only=True) # Return mode of each column
mode # Display mode of df_provider dataset

# Every column is unique and so every column is returned

,rpt_rec_num,Provider CCN,Medicare CBSA Number,Provider Type,Type of Control,FTE - Employees on Payroll,Number of Interns and Residents (FTE),Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Other Than Outlier Payments,DRG Amounts Before October 1,DRG Amounts After October 1,Outlier Payments For Discharges,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
0,717629,60044.0,99945.0,1.0,2.0,55.0,0.99,7,538,1,475,25,9125,1,1,1,1,25,1,53,1,1,25,9125,1,1,1,1,48194,1,427453,105,105759005,86814097,1,576425,80022,255,7808,1,44617,1,12000,9899,69,200,153557000,10278966,1819899000,-670984347,45500597,1851241,952006000,3298360000,479733000,11875228,8569498000,2026625,6717049,3007315000,266264,-170220,5971542000,0,1627176000,12608368000,21878270000,1111552000,1165861000,205276,73026000,517364,18671084,3195849000,3255423000,14877552,1,1979451000,5234874000,8430723000,13447547000,13447547000,21878270000,NaN,1,1,NaN,1709,12.0,3845,463779,374566904,255,416933455,1,177146512,192801555,-15655043,1,-5111626,1,-4883173,0.2,1,4649134,51461,17881363
1,717969,170175.0,NaN,NaN,NaN,66.0,NaN,<NA>,1314,<NA>,971,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2,147,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1986901,1045583,1508407,427453,<NA>,<NA>,<NA>,973255,2365893,<NA>,20118,<NA>,<NA>,367952,3260011,<NA>,75,<NA>,<NA>,<NA>,<NA>,<NA>,190068832,58890960,<NA>,<NA>,<NA>,34109903,<NA>,34792248,758558584,<NA>,<NA>,753492,<NA>,10981192000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,845410000,<NA>,<NA>,58633229,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,5525,NaN,7528,NaN,5416,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1,<NA>,1,NaN,<NA>,10373950,981879,<NA>
2,719460,180078.0,NaN,NaN,NaN,68.0,NaN,<NA>,1395,<NA>,8399,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,199,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2080076,11563114,<NA>,<NA>,<NA>,<NA>,<NA>,1047429,51686800,<NA>,27000,<NA>,<NA>,539885,5562807,<NA>,143,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1552558,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,142156000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,14238,NaN,8075,NaN,24039,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,204680004,<NA>,<NA>
3,719475,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,200,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1412045,<NA>,<NA>,30000,<NA>,<NA>,960193,<NA>,<NA>,228,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4345364,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,17844,NaN,49590,NaN,28567,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,260816929,<NA>,<NA>
4,721379,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1521239,<NA>,<NA>,38577,<NA>,<NA>,1034422,<NA>,<NA>,431,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,17968,NaN,376818,NaN,37024,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6059,776749,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>
6060,776764,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>
6061,776821,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>
6062,776830,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>
6063,776832,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,<NA>,<NA>

In [16]:
# Checking for Null Values in columns

print(df_provider.isnull().sum().to_string()) # Encapsulate in print function to make output a scrollable element and display values for all the columns

# Should NaN values be replaced with 0 values
# Should NaN values be replaced with mean values
    # Currently not sure which would be the most appropriate solution to as these amounts. 
    # If NaN is replaced with 0 values it will affect the mean of data. 
    # If NaN is replaced with mean values then that could be displaying incorrect budgets for the individual hospital.
    # If NaN rows are removed what will affect the amount a data avaliable of training and testing.

rpt_rec_num                                                                   0
Provider CCN                                                                  0
Hospital Name                                                                 0
Street Address                                                                3
City                                                                          0
State Code                                                                    0
Zip Code                                                                      0
County                                                                      564
Medicare CBSA Number                                                         83
Rural Versus Urban                                                           83
CCN Facility Type                                                             0
Provider Type                                                                 0
Type of Control                                                               0
Fiscal Year Begin Date                                                        0
Fiscal Year End Date                                                          0
FTE - Employees on Payroll                                                  118
Number of Interns and Residents (FTE)                                      4565
Total Days Title V                                                         5930
Total Days Title XVIII                                                      151
Total Days Title XIX                                                       1013
Total Days (V + XVIII + XIX + Unknown)                                      101
Number of Beds                                                               94
Total Bed Days Available                                                     94
Total Discharges Title V                                                   5938
Total Discharges Title XVIII                                                142
Total Discharges Title XIX                                                 1083
Total Discharges (V + XVIII + XIX + Unknown)                                102
Number of Beds + Total for all Subproviders                                  89
Hospital Total Days Title V For Adults & Peds                              5940
Hospital Total Days Title XVIII For Adults & Peds                           166
Hospital Total Days Title XIX For Adults & Peds                            1076
Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds           104
Hospital Number of Beds For Adults & Peds                                    98
Hospital Total Bed Days Available For Adults & Peds                          97
Hospital Total Discharges Title V For Adults & Peds                        5938
Hospital Total Discharges Title XVIII For Adults & Peds                     142
Hospital Total Discharges Title XIX For Adults & Peds                      1083
Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds     102
Cost of Charity Care                                                       1820
Total Bad Debt Expense                                                     1608
Cost of Uncompensated Care                                                 1549
Total Unreimbursed and Uncompensated Care                                  1528
Total Salaries From Worksheet A                                              87
Overhead Non-Salary Costs                                                    83
Depreciation Cost                                                           149
Total Costs                                                                  83
Inpatient Total Charges                                                      89
Outpatient Total Charges                                                    615
Combined Outpatient + Inpatient Total Charges                                83
Wage-Related Costs (Core)                                                  2464
Wage-Related Costs (RHC/FQHC)                                              5681
Total Salaries (adjusted)                                                  2318
Contract Labor: Direct Patient Care                                        2876
Wage Related Costs for Part - A Teaching Physicians                        5658
Wage Related Costs for Interns and Residents                               5251
Cash on Hand and in Banks                                                   551
Temporary Investments                                                      5025
Notes Receivable                                                           5821
Accounts Receivable                                                         376
Less: Allowances for Uncollectible Notes and Accounts Receivable           1963
Inventory                                                                   919
Prepaid Expenses                                                           1133
Other Current Assets                                                       3605
Total Current Assets                                                        320
Land                                                                       1895
Land Improvements                                                          2271
Buildings                                                                  1007
Leasehold Improvements                                                     3184
Fixed Equipment                                                            2665
Major Movable Equipment                                                     865
Minor Equipment Depreciable                                                5085
Health Information Technology Designated Assets                            5614
Total Fixed Assets                                                          369
Investments                                                                3773
Other Assets                                                               1374
Total Other Assets                                                          971
Total Assets                                                                302
Accounts Payable                                                            404
Salaries, Wages, and Fees Payable                                           897
Payroll Taxes Payable                                                      3874
Notes and Loans Payable (Short Term)                                       3476
Deferred Income                                                            4971
Other Current Liabilities                                                  1028
Total Current Liabilities                                                   334
Mortgage Payable                                                           5318
Notes Payable                                                              3668
Unsecured Loans                                                            5760
Other Long Term Liabilities                                                2007
Total Long Term Liabilities                                                 972
Total Liabilities                                                           332
General Fund Balance                                                        314
Total Fund Balances                                                         312
Total Liabilities and Fund Balances                                         305
DRG Amounts Other Than Outlier Payments                                    6064
DRG Amounts Before October 1                                               3468
DRG Amounts After October 1                                                3002
Outlier Payments For Discharges                                            6064
Disproportionate Share Adjustment                                          3335
Allowable DSH Percentage                                                   3287
Managed Care Simulated Payments                                            4077
Total IME Payment                                                          4786
Inpatient Revenue                                                           246
Outpatient Revenue                                                          780
Total Patient Revenue                                                       243
Less Contractual Allowance and Discounts on Patients' Accounts              324
Net Patient Revenue                                                         241
Less Total Operating Expense                                                 85
Net Income from Service to Patients                                          85
Total Other Income                                                          313
Total Income                                                                 91
Total Other Expenses                                                       4286
Net Income                                                                   90
Cost To Charge Ratio                                                       1464
Net Revenue from Medicaid                                                  1679
Medicaid Charges                                                           1691
Net Revenue from Stand-Alone CHIP                                          5078
Stand-Alone CHIP Charges                                                   5058

In [17]:
# Check that Provider CCN and Hospital Names are matching as expected


cols_to_check = ["Provider CCN", "Hospital Name", "Street Address", "City", "State Code", "Zip Code", "County"] # Create variable to rows to check

duplicate_mask = df_provider.duplicated(subset=cols_to_check, keep=False) # Create a filter for all duplicate rows

df_provider[duplicate_mask].sort_values(by="Hospital Name") # Display duplicate rows
# Duplicates are from Hospitals with Fiscal Years in 2022 and 2023. Should 2023 enddate years be deleted?

# Also need to check if the expenses match up between these duplicates (Do they make sense?)

,rpt_rec_num,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,CCN Facility Type,Provider Type,Type of Control,Fiscal Year Begin Date,Fiscal Year End Date,FTE - Employees on Payroll,Number of Interns and Residents (FTE),Total Days Title V,Total Days Title XVIII,Total Days Title XIX,Total Days (V + XVIII + XIX + Unknown),Number of Beds,Total Bed Days Available,Total Discharges Title V,Total Discharges Title XVIII,Total Discharges Title XIX,Total Discharges (V + XVIII + XIX + Unknown),Number of Beds + Total for all Subproviders,Hospital Total Days Title V For Adults & Peds,Hospital Total Days Title XVIII For Adults & Peds,Hospital Total Days Title XIX For Adults & Peds,Hospital Total Days (V + XVIII + XIX + Unknown) For Adults & Peds,Hospital Number of Beds For Adults & Peds,Hospital Total Bed Days Available For Adults & Peds,Hospital Total Discharges Title V For Adults & Peds,Hospital Total Discharges Title XVIII For Adults & Peds,Hospital Total Discharges Title XIX For Adults & Peds,Hospital Total Discharges (V + XVIII + XIX + Unknown) For Adults & Peds,Cost of Charity Care,Total Bad Debt Expense,Cost of Uncompensated Care,Total Unreimbursed and Uncompensated Care,Total Salaries From Worksheet A,Overhead Non-Salary Costs,Depreciation Cost,Total Costs,Inpatient Total Charges,Outpatient Total Charges,Combined Outpatient + Inpatient Total Charges,Wage-Related Costs (Core),Wage-Related Costs (RHC/FQHC),Total Salaries (adjusted),Contract Labor: Direct Patient Care,Wage Related Costs for Part - A Teaching Physicians,Wage Related Costs for Interns and Residents,Cash on Hand and in Banks,Temporary Investments,Notes Receivable,Accounts Receivable,Less: Allowances for Uncollectible Notes and Accounts Receivable,Inventory,Prepaid Expenses,Other Current Assets,Total Current Assets,Land,Land Improvements,Buildings,Leasehold Improvements,Fixed Equipment,Major Movable Equipment,Minor Equipment Depreciable,Health Information Technology Designated Assets,Total Fixed Assets,Investments,Other Assets,Total Other Assets,Total Assets,Accounts Payable,"Salaries, Wages, and Fees Payable",Payroll Taxes Payable,Notes and Loans Payable (Short Term),Deferred Income,Other Current Liabilities,Total Current Liabilities,Mortgage Payable,Notes Payable,Unsecured Loans,Other Long Term Liabilities,Total Long Term Liabilities,Total Liabilities,General Fund Balance,Total Fund Balances,Total Liabilities and Fund Balances,DRG Amounts Other Than Outlier Payments,DRG Amounts Before October 1,DRG Amounts After October 1,Outlier Payments For Discharges,Disproportionate Share Adjustment,Allowable DSH Percentage,Managed Care Simulated Payments,Total IME Payment,Inpatient Revenue,Outpatient Revenue,Total Patient Revenue,Less Contractual Allowance and Discounts on Patients' Accounts,Net Patient Revenue,Less Total Operating Expense,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
197,738413,390333,AHN HEMPFIELD NEIGHBORHOOD HOSPITAL,6321 ROUTE 30,GREENSBURG,PA,15601,WESTMORELAND,38300.0,U,STH,1,4,2022-01-01,2022-06-30,171.54,NaN,<NA>,169,4,760,40,7240,<NA>,39,1,202,40,<NA>,169,4,760,40,7240,<NA>,39,1,202,14072,<NA>,14072,3331843,5994804,14257985,765624,19830459,5658484,95099682,100758166,1018005,<NA>,5994804,641726,<NA>,<NA>,1800,<NA>,<NA>,3736927,<NA>,959943,4659383,<NA>,-4432061,<NA>,<NA>,<NA>,72899,<NA>,7460084,<NA>,<NA>,4344090,<NA>,48979085,48979085,48891114,1238574,846136,4455,<NA>,<NA>,2080643,4169804,<NA>,<NA>,<NA>,49270478,49270478,53440282,-4549168,-4549168,48891114,NaN,296440,<NA>,NaN,<NA>,NaN,<NA>,<NA>,5203868,95554298,100758166,80852450,19905716,20252789,-347073,2402501,2055428,<NA>,2055428,0.20,1483636,24396701,<NA>,<NA>
4364,760900,390333,AHN HEMPFIELD NEIGHBORHOOD HOSPITAL,6321 ROUTE 30,GREENSBURG,PA,15601,WESTMORELAND,38300.0,U,STH,1,4,2022-07-01,2023-06-30,181.49,NaN,<NA>,177,1,1320,40,14600,<NA>,66,1,406,40,<NA>,177,1,1320,40,14600,<NA>,66,1,406,21872,<NA>,21872,6766574,12903553,30775429,1273656,42468368,8123052,237209011,245332063,2460082,<NA>,12903553,1114314,<NA>,<NA>,3500,<NA>,<NA>,4284940,<NA>,1081669,4204503,<NA>,2041339,<NA>,<NA>,<NA>,85299,<NA>,7242818,<NA>,<NA>,2881010,<NA>,46482801,46482801,51405150,1741380,903521,6865,<NA>,<NA>,2465025,5116793,<NA>,<NA>,<NA>,47044887,47044887,52161680,-756530,-756530,51405150,NaN,<NA>,422032,NaN,<NA>,NaN,<NA>,<NA>,8045046,237537777,245582823,202066093,43516730,43678982,-162252,3954902,3792650,<NA>,3792650,0.17,4035813,62277862,<NA>,<NA>
3569,757232,390334,AHN WEXFORD HOSPITAL,12351 PERRY HWY,WEXFORD,PA,15090-8344,NaN,38300.0,U,STH,1,2,2022-07-01,2023-06-30,702.72,NaN,<NA>,3812,242,15926,144,52560,<NA>,1036,59,6688,144,<NA>,3203,161,11991,120,43800,<NA>,1036,59,6688,200360,2286954,722763,2955939,45989527,112808564,12716348,152826101,240760079,430913573,671673652,11728120,<NA>,46336265,2659377,<NA>,<NA>,5143,<NA>,<NA>,24237892,<NA>,3036752,292063,<NA>,29055944,57014,604244,241092667,12233875,<NA>,45918928,<NA>,<NA>,274684745,<NA>,<NA>,<NA>,303740689,8278751,3560069,<NA>,<NA>,108214,<NA>,170979326,<NA>,<NA>,<NA>,<NA>,<NA>,170979326,132761263,132761363,303740689,NaN,1911252,6843216,NaN,<NA>,NaN,14341694,<NA>,240760080,430913572,671673652,503566068,168107584,158798091,9309493,1833556,11143049,<NA>,11143049,0.23,3337300,32424711,<NA>,<NA>
5530,771594,390334,AHN WEXFORD HOSPITAL,12351 PERRY HWY,WEXFORD,PA,15090-8344,NaN,38300.0,U,STH,1,2,2021-12-10,2022-06-30,528.61,NaN,<NA>,1474,72,6283,144,29232,<NA>,446,30,3047,144,<NA>,1239,54,4704,120,24360,<NA>,446,30,3047,18970,215610,78937,2096739,23055705,58013994,8925144,78663677,96205920,187456369,283662289,5918400,<NA>,23128723,852821,<NA>,<NA>,8406,<NA>,<NA>,22303543,<NA>,2311094,224883,<NA>,26379606,57014,604244,233390307,1010794,<NA>,44926159,<NA>,<NA>,267897380,<NA>,<NA>,<NA>,294276986,6220519,2773238,<NA>,<NA>,583060,<NA>,72207108,<NA>,<NA>,<NA>,<NA>,<NA>,72207108,222069778,222069878,294276986,NaN,<NA>,3854930,NaN,<NA>,NaN,<NA>,<NA>,96205739,187456550,283662289,209076736,74585553,81069699,-6484146,439274,-6044872,<NA>,-6044872,0.28,1599875,13045372,<NA>,<NA>
4,721379,340123,AMERICAN HEALTHCARE SYSTEMS,373 NORTH FAYETTEVILLE STREET,ASHEBORO,NC,27204-,RANDOLPH,24660.0,U,STH,1,2,2021-10-01,2021-12-31,173.01,NaN,<NA>,792,213,5016,145,13340,<NA>,178,62,1555,145,<NA>,745,143,4053,133,12236,<NA>,178,62,1555,1654222,3738257,2258671,2258671,10586248,19154646,257154,29100930,76289661,104740148,181029809,3604240,<NA>,10586248,871479,<NA>,<NA>,-20513647,<NA>,<NA>,50385908,-46682646,154271,91490,<NA>,-29768611,<NA>,<NA>,6221,<NA>,<NA>,43228,<NA>,<NA>,-207705,<NA>,394971,1941900,-28034416,1659902,-1046562,-32531,<NA>,<NA>,893667,1474476,<NA>,-18087674,<NA>,<NA>,-18087674,-16613198,-11421218,-11421218,-28034416,NaN,<NA>,1556697,NaN,59194,15.21,<NA>,<NA>,76292307,104753570,181045877,156553732,24492145,29740894,-5248749,-6661015,-11909764,<NA>,-11909764,0.16,1724073,6249901,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,757777,500005,VIRGINIA MASON MEDICAL CENTER,925 SENECA STREET,SEATTLE,WA,98111-,KING,42644.0,U,STH,1,2,2022-07-01,2023-06-30,4021.22,110.79,<NA>,23990,1728,62231,222,81030,<NA>,3892,1276,10984,257,<NA>,21434,1326,56470,194,70810,<NA>,3892,1276,10984,6179708,13223618,10368719,38898967,591140690,791188770,36126466,707031856,982865577,1284480214,2267345791,66226211,<NA>,591140690,35860223,168664,2032458,32123824,<NA>,<NA>,476652587,-332303668,37907323,4090047,7714,468747236,121155966,299662,354761255,29553600,3732329,102469289,<NA>,<NA>,516433717,242885400,188654789,431540189,1416721142,254657592,58374036,<NA>,32186776,<NA>,14271374,359489778,<NA>,433673471,<NA>,118857983,552531454,912021232,504699910,504699910,1416721142,NaN,16227332,49169525,NaN,1043080,6.38,37472226,11802956,979639571,2300186593,3279826164,2123638030,1156188134,1382329460,-226141326,191331141,-34810185,<NA>,-34810185,0.31,26228578,175603612,<NA>,<NA>
642,742612,50194,WATSONVILLE COMMUNITY HOSPTIAL,75 NIELSON STREET,WATSONVILLE,CA,95076,SANTA CRUZ,42100.0,U,STH,1,4,2022-08-01,2022-08-31,40.37,NaN,<NA>,390,130,1216,106,3286,<NA>,106,10,233,106,<NA>,361,91,938,90,2790,<NA>,106,10,233,132747,92702,165192,2553528,5353282,7608470,170334,11319724,33794835,55104786,88899621,1638719,<NA>,5353282,904120,<NA>,<NA>,<NA>,<NA>,<NA>,2873209,<NA>,<NA>,2345000,<NA>,5218209,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,3360555,3360555,8578764,17509400,146704,<NA>,26612463,<NA>,8035749,52929518,<NA>,4500000,<NA>,-6456594,-1956594,50972924,-42394160,-42394160,8578764,NaN,1306466,<NA>,NaN,210635,64.49,<NA>,<NA>,33794835,55174792,88969627,78080792,10888835,12961752,-2072917,22739010,20666093,<NA>,20666093,0.13,854127,39558834,<NA>,<NA>
1322,744678,50194,WATSONVILLE COMMUNITY HOSPTIAL,75 NIELSON STREET,WATSONVILLE,CA,95076,SANTA CRUZ,42100.0,U,STH,1,4,2022-09-01,2022-12-31,230.45,NaN,<NA>,1704,518,4360,106,12932,<NA>,401,107,1217,106,<NA>,1599,333,3441,90,10980,<NA>,401,107,1217,489344,664703,678330,6861679,21397556,25911152,342675,42525767,122209750,202739327,324949077,5880118,<NA>,21397556,2358876,<NA>,<NA>,5911975,<NA>,<NA>,47730469,-7864380,2142109,1505267,-17583258,31842182,<NA>,<NA>,175546,<NA>,<NA>,<NA>,<NA>,<NA>,129950,<NA>,1093577,1093577,33065709,6347116,8839019,<NA>,-64049,<NA>,6115219,19353613,<NA>,7555702,<NA>,7294714,14850416,34204029,-1138320,-1138320,33065709,NaN,1309032,4349409,NaN,581688,41.12,<NA>,<NA>,123206702,203052463,326259165,280176295,46082870,47308708,-1225838,87518,-1138320,<NA>,-1138320,0.13,5199247,141292141,<NA>,<NA>
20,730690,33034,YUMA REHABILITATION HOSPITAL AN AFF,901 WEST 24TH STREET,YUMA,AZ,85364,YUMA,49740.0,U,RH,5,5,2022-01-01,2022-07-31,105.62,NaN,<NA>,5122,30,7123,51,10812,<NA>,439,2,599,51,<NA>,5122,30,7123,51,10812,<NA>,439,2,599,<NA>,<NA>,<NA>,<NA>,4490340,4737091,386030,8642876,16735923,1122,16737045,632468,<NA>,4490340,699224,<NA>,<NA>,2885708,<NA>,<NA>,5036272,-1383886,58261,24088,<NA>,6620443,<NA>,<NA>,11645572,78852,<NA>,3693942,<NA>,<NA>,5808229,<NA>,809724,809724,13238396,411177,805270,<NA>,<NA>,<NA>,1449170,2665617,<NA>,<NA>,<NA>,5651597,5651597,8317214,4921182,4921182,13238396,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,16735923,1122,16737045,4792660,11944385,9227431,2716954,33645,2750599,<NA>,2750599,NaN,<NA>,<NA>,<NA>,<NA>
3131,756141,33034,YUMA REHABILITATION HOSPITAL AN AFF,901 WEST 24TH STREET,YUMA,AZ,85364,YUMA,49740.0,U,RH,5,5,2022-08-01,2023-07-31,125.20,NaN,<NA>,10538,25,14916,51,18615,<NA>,914,2,1259,51,<NA>,10538,25,14916,51,18615,<NA>,914,2,1259,<NA>,<NA>,<NA>,<NA>,10103731,10167404,716483,19542240,35502203,<NA>,35502203,2244682,<NA>,10103731,1723161,<NA>,<NA>,4002620,<NA>,<NA>,5918721,-1474156,47699,67230,<NA>,8562114,<NA>,<NA>,12289719,97490,<NA>,4286254,<NA>,<NA>,6322477,<NA>,752991,752991,15637582,708747,912813,<NA>,<NA>,<NA>,1804614,3426174,<NA>,<NA>,<NA>,6418588,6418588,9844762,5792820,5792820,15637582,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,35502204,<NA>,35502204,8533111,26969093,20271135,6697958,321721,7019679,<NA>,7019679,NaN,<NA>,<NA>,<NA>,<NA>

In [18]:
# Conclusion

# Data is usable after converting numeric columns from strings 
    # This was the biggest part of EDA and the most helpful in getting idea for the data in the dataset.
# Modifying Data
    # Still need to go through the columns to decide the best way to fill them. Should it be 0 or mean?
# Is there a class imbalance
    # After conversions, there are more int64 datatypes than any others, but currently do not see this as a major issue.

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.

In [ ]:
# There was no graph for this weeks chapter